<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title th:text="|${config.name} v${config.version}|">WEB-ADMIN-PRO</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" href="../../static/favicon.ico"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="../../static/layui/css/layui.css" media="all">
    <link rel="stylesheet" th:href="@{/admin-ui/css/admin.css}" href="../../static/admin-ui/css/admin.css" media="all">
    <link rel="stylesheet" th:href="@{/style/template.css}" href="../../static/style/template.css" media="all">
    <link rel="stylesheet" th:href="@{/style/ai-chat.css}" href="../../static/style/ai-chat.css" media="all">
</head>
<body class="layui-fluid">
<div class="layui-card">
    <div class="layui-card-header">AI对话</div>
    <div class="layui-card-body">
        <div id="chat-flow" class="layui-row layui-col-space10"></div>
    </div>
</div>
<script th:src="@{/layui/layui.js}" src="../../static/layui/layui.js"></script>
<script th:src="@{/modules/markdown-it.min.js}" src="../../static/modules/markdown-it.min.js"></script>
<script th:src="@{/modules/fetch-event-source.js}" src="../../static/modules/fetch-event-source.js"></script>
<script th:inline="javascript">
    const config = {
        base:/*[[@{/}]]*/ '../../static/'
        , name: /*[[${config.name}]]*/ 'WEB-ADMIN-PRO'
        , version: /*[[${config.version}]]*/ '1.0.0'
        , copyright: /*[[${config.copyright}]]*/ '© 2025 All Rights Reserved.'
    }

    layui.config({
        base: config.base, version: true
        , layimPath: config.base + 'modules/layim/'
        , layimResPath: config.base + 'modules/layim/res/'
    }).use(['index', 'layim', 'common', 'chat'], function () {

        layui.util.fixbar({
            bars: [
                {type: 'chat', icon: 'layui-icon-dialogue'}
                , {type: 'set', content: '<li class="layui-icon layui-icon-set" layim-event="set"></li>'}
                , {type: 'delete', icon: 'layui-icon-delete', style: 'background-color:red;'}
            ]
            , on: {
                click: function (type) {
                    if (type === 'chat') layui.chat.asChat();
                    if (type === 'delete') layui.chat.asDelete();
                }
            }
        });

        layui.flow.load({
            elem: '#chat-flow'
            , done: function (page, next) {
                layui.chat.asFlow(page, next)
            }
        });

        layui.layim.on('chatInit', function (data) {
            layui.chat.asChatInit(data);
        });
        layui.layim.callback('chatlog', function (data) {
            return layui.chat.asChatlog(data);
        });
        layui.layim.callback('contentParser', function (data) {
            return layui.chat.asContentParser(data);
        });
        layui.layim.on('sendMessage', function (data) {
            layui.chat.asSendMessage(data);
        });
        layui.layim.on('backgroundImage', function (data) {
            layui.chat.asBackgroundImage(data);
        });
        window.setTimeout(function () {
            layui.chat.asChat();
        }, 100)

    });
</script>
</body>
</html>