<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="utf-8">
    <title th:text="|${config.title} v${config.version}|">WEB-ADMIN-PRO</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" href="../../static/favicon.ico"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="../../static/layui/css/layui.css" media="all">
    <link rel="stylesheet" th:href="@{/admin-ui/css/admin.css}" href="../../static/admin-ui/css/admin.css" media="all">
</head>
<body class="layui-fluid">
<script th:src="@{/layui/layui.js}" src="../../static/layui/layui.js"></script>
<script th:src="@{/modules/markdown-it.min.js}" src="../../static/modules/markdown-it.min.js"></script>
<script th:src="@{/modules/fetch-event-source.js}" src="../../static/modules/fetch-event-source.js"></script>
<script th:inline="javascript">
    const config = {
        base:/*[[@{/}]]*/ '../../static/'
        , title: /*[[${config.title}]]*/ 'WEB-ADMIN-PRO'
        , version: /*[[${config.version}]]*/ '1.0.0'
    }

    layui.config({
        base: config.base, version: true
        , layimPath: config.base + 'modules/layim/'
        , layimResPath: config.base + 'modules/layim/res/'
    }).use(['index', 'layim', 'common'], function () {

        let abortController, conversationId = layui.common.asUuid();
        layui.layim.config({
            contactsPanel: false
            , init: {
                user: {
                    id: 'admin'
                    , username: parent.layui.$('#sys-user').html()
                    , avatar: parent.layui.$('#sys-avatar').attr('src')
                }
            }
        });

        const md = markdownit({typographer: true, linkify: true, breaks: true});
        layui.layim.callback('contentParser', function (data) {
            return md.render(data).replaceAll('<table>', '<table class="layui-table" lay-size="sm">');
        });

        layui.layim.on('sendMessage', function (data) {
            console.log('sendMessage', data);
            const user = data.user, receiver = data.receiver;
            if (receiver.type === 'ai') {
                const messages = [];
                abortController = new AbortController();
                SSE.fetchEventSource(`${config.base}ai/chat/completions`, {
                    method: 'POST', headers: {'Content-Type': 'application/json'}
                    , body: JSON.stringify({conversationId: conversationId, question: user.content})
                    , signal: abortController.signal
                    , onopen: function (response) {
                        if (!response.ok) throw new Error(`URL ${response.status} ${response.statusText}`);
                    }
                    , onmessage: function (msg) {
                        const data = JSON.parse(msg.data);
                        data?.result?.output?.text && messages.push(data.result.output.text);
                        if (layui.$.trim(messages.join(''))) {
                            layui.layim.getMessage({...receiver, content: `${messages.join('')} _`, finished: false});
                        }
                    }
                    , onerror: function (error) {
                        layui.layim.getMessage({...receiver, content: `**错误信息：** ${error}`, finished: true});
                        throw error;
                    }
                    , onclose: function () {
                        layui.layim.getMessage({...receiver, content: messages.join(''), finished: true});
                    }
                });
            }
        });

        layui.layim.on('chatInit', function (obj) {
            console.log('chatInit', obj);
            const data = obj.data, elem = obj.elem;
            if (data.type === 'ai') {
                const lastItem = elem.find('.layim-chat-main>ul>li').last();
                const existMessages = layui.layim.chat.messages && layui.layim.chat.messages[data.id];
                if (!existMessages && !lastItem.hasClass('layim-chat-system')) {
                    layui.layim.getMessage({
                        system: true
                        , id: data.id
                        , type: 'ai'
                        , content: '以下为新的对话'
                        , saveLocalChatlog: false
                    });
                }
            }
        });

        layui.util.fixbar({
            default: false
            , bars: [{type: 'AI', icon: 'layui-icon-login-wechat'}]
            , on: {
                mouseenter: function () {
                    layui.layer.tips(`${config.title} v${config.version}`, this, {tips: 4, fixed: true});
                }
                , mouseleave: function () {
                    layui.layer.closeAll('tips');
                }
                , click: function () {
                    layui.layim.chat({
                        type: 'ai'
                        , id: config.title
                        , username: `${config.title} v${config.version}`
                        , avatar: `${config.base}style/imgs/logo.jpg`
                        , new: true
                        , enableLocalChatlog: false
                        , layer: {
                            cancel: function () {
                                if (abortController) abortController.abort();
                            }
                        }
                    });
                }
            }
        });
    });
</script>
</body>
</html>