<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title th:text="|${config.title} v${config.version}|">WEB-ADMIN-PRO</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" href="../../static/favicon.ico"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="../../static/layui/css/layui.css" media="all">
    <link rel="stylesheet" th:href="@{/admin-ui/css/admin.css}" href="../../static/admin-ui/css/admin.css" media="all">
</head>
<body class="layui-fluid">
<div class="layui-row layui-col-space10">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header layui-icon layui-icon-windows">
                服务器信息
            </div>
            <div class="layui-card-body" id="os-info"></div>
        </div>
    </div>
</div>
<div class="layui-row layui-col-space10">
    <div class="layui-col-md3 layui-col-sm6">
        <div class="layui-card">
            <div class="layui-card-header layui-icon layui-icon-chart">
                CPU使用率
            </div>
            <div class="layui-card-body">
                <div id="os-sys" style="height: 230px;"></div>
            </div>
        </div>
    </div>
    <div class="layui-col-md3 layui-col-sm6">
        <div class="layui-card">
            <div class="layui-card-header layui-icon layui-icon-console">
                内存使用率
            </div>
            <div class="layui-card-body">
                <div id="os-sys-mem" style="height: 230px;"></div>
            </div>
        </div>
    </div>
    <div class="layui-col-md3 layui-col-sm6">
        <div class="layui-card">
            <div class="layui-card-header layui-icon layui-icon-engine">
                Jvm内存使用率
            </div>
            <div class="layui-card-body">
                <div id="os-jvm-mem" style="height: 230px;"></div>
            </div>
        </div>
    </div>
    <div class="layui-col-md3 layui-col-sm6">
        <div class="layui-card">
            <div class="layui-card-header layui-icon layui-icon-folder">
                磁盘使用率
            </div>
            <div class="layui-card-body">
                <div id="os-disk" style="height: 230px;"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="os-table">
    <table class="layui-table" lay-skin="line">
        <colgroup>
            <col style="width: 150px;">
            <col>
            <col style="width: 150px;">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <td>系统名称</td>
            <td>{{ d.osSys.name }}</td>
            <td>服务器名称</td>
            <td>{{ d.osName }}</td>
        </tr>
        <tr>
            <td>系统架构</td>
            <td>{{ d.osSys.arch }}</td>
            <td>服务器地址</td>
            <td>{{ d.osIp }}</td>
        </tr>
        <tr>
            <td>启动时间</td>
            <td>{{ d.osJvm.startTime }}</td>
            <td>虚拟机名称</td>
            <td>{{ d.osJvm.name }}</td>
        </tr>
        <tr>
            <td>运行时间</td>
            <td>{{ d.osJvm.uptime }}</td>
            <td>虚拟机版本</td>
            <td>{{ d.osJvm.version }}</td>
        </tr>
        <tr>
            <td>运行参数</td>
            <td colspan="3">{{ d.osJvm.inputArguments }}</td>
        </tr>
        </tbody>
    </table>
</script>
<script th:src="@{/layui/layui.js}" src="../../static/layui/layui.js"></script>
<script th:src="@{/modules/echarts.min.js}" src="../../static/modules/echarts.min.js"></script>
<script th:inline="javascript">
    const config = {
        base:/*[[@{/}]]*/ '../../static/'
    }

    layui.config({
        base: config.base, version: true
    }).use(['index', 'common'], function () {

        const osSys = echarts.init(layui.$('#os-sys')[0]);
        const osSysMem = echarts.init(layui.$('#os-sys-mem')[0]);
        const osJvmMem = echarts.init(layui.$('#os-jvm-mem')[0]);
        const osDisk = echarts.init(layui.$('#os-disk')[0]);

        layui.admin.resize(function () {
            osSys.resize();
            osSysMem.resize();
            osJvmMem.resize();
            osDisk.resize();
        });

        load();
        setInterval(load, 1000 * 30);

        function load() {
            layui.common.req(`${config.base}sys/monitor.json`, 'GET', null, {
                done: function (data) {
                    osSys.setOption(gauge(layui.common.asRate(data.data.osSys.cpuLoad)));
                    osSysMem.setOption(gauge(layui.common.asRate(data.data.osSysMem.usedMemorySize / data.data.osSysMem.totalMemorySize)));
                    osJvmMem.setOption(gauge(layui.common.asRate(data.data.osJvmMem.usedMemory / data.data.osJvmMem.totalMemory)));
                    osDisk.setOption(gauge(layui.common.asRate(data.data.osDisk.usedSpace / data.data.osDisk.totalSpace)));

                    data.data.osJvm.uptime = layui.common.asAgo(data.data.osJvm.uptime);
                    data.data.osJvm.startTime = layui.util.toDateString(data.data.osJvm.startTime, 'yyyy-MM-dd HH:mm:ss');

                    layui.laytpl(layui.$('#os-table').html()).render(data.data, function (html) {
                        layui.$('#os-info').html(html)
                    });
                    layui.$('#os-sys').attr('lay-tips', data.data.osSys.tips.replaceAll(',', '<br>'));
                    layui.$('#os-sys-mem').attr('lay-tips', data.data.osSysMem.tips.replaceAll(',', '<br>'));
                    layui.$('#os-jvm-mem').attr('lay-tips', data.data.osJvmMem.tips.replaceAll(',', '<br>'));
                    layui.$('#os-disk').attr('lay-tips', data.data.osDisk.tips.replaceAll(',', '<br>'));
                    window.parent.os = data.data;
                }
            });
        }

        function gauge(value) {
            return {
                series: [{
                    type: 'gauge'
                    , progress: {show: true}
                    , pointer: {show: false}
                    , axisLine: {show: true}
                    , axisTick: {show: false}
                    , splitLine: {show: false}
                    , axisLabel: {show: false}
                    , detail: {formatter: '{value}%'}
                    , data: [{value: value}]
                }]
            };
        }
    });
</script>
</body>
</html>