<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="utf-8">
    <title th:text="|${config.title} v${config.version}|">WEB-ADMIN-PRO</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" href="../../static/favicon.ico"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="../../static/layui/css/layui.css" media="all">
    <link rel="stylesheet" th:href="@{/admin-ui/css/admin.css}" href="../../static/admin-ui/css/admin.css" media="all">
    <link rel="stylesheet" th:href="@{/style/lock-screen.css}" href="../../static/style/lock-screen.css" media="all">
</head>
<body class="layui-layout-body" id="LAY_home_iframe">
<div id="LAY_app" style="visibility: hidden">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="login.html" target="_blank" title="前台">
                        <i class="layui-icon layui-icon-website"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:" layadmin-event="refresh" title="刷新">
                        <i class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <label>
                        <input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search" layadmin-event="serach" lay-action="https://cn.bing.com/search?q=">
                    </label>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
                <li class="layui-nav-item" lay-unselect>
                    <a lay-href="me.html" layadmin-event="message" lay-text="消息中心">
                        <i class="layui-icon layui-icon-notice"></i>
                        <!-- 如果有新消息，则显示小圆点 -->
                        <span class="layui-badge-dot"></span>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:" layadmin-event="note">
                        <i class="layui-icon layui-icon-note"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:" layadmin-event="theme">
                        <i class="layui-icon layui-icon-theme"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:" layadmin-event="fullscreen">
                        <i class="layui-icon layui-icon-screen-full"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:">
                        <img id="sys-avatar" class="layui-nav-img" alt=""
                             th:src="@{/style/imgs/logo.jpg}"
                             src="../../static/style/imgs/logo.jpg"
                             th:onerror="|this.onerror=null;this.src='@{/style/imgs/logo.jpg}';|">
                        <cite id="sys-user"></cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd style="text-align: center;"><a lay-href="me.html">个人中心</a></dd>
                        <dd style="text-align: center;" layadmin-event="lock"><a>锁屏</a></dd>
                        <hr>
                        <dd style="text-align: center;" layadmin-event="logout"><a>退出登录</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
                <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
                    <a href="javascript:" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
            </ul>
        </div>
        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo" lay-href="home.html">
                    <span th:text="${config.title}">ADMIN-UI-PRO</span>
                </div>
                <ul class="layui-nav layui-nav-tree" lay-accordion id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
                </ul>
            </div>
        </div>
        <!-- 页面标签 -->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-down">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:"></a>
                        <dl class="layui-nav-child layui-anim-fadein">
                            <dd layadmin-event="closeThisTabs"><a href="javascript:">关闭当前标签页</a></dd>
                            <dd layadmin-event="closeOtherTabs"><a href="javascript:">关闭其它标签页</a></dd>
                            <dd layadmin-event="closeRightTabs"><a href="javascript:">关闭右侧标签页</a></dd>
                            <dd layadmin-event="closeAllTabs"><a href="javascript:">关闭全部标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <li lay-id="home.html" lay-attr="home.html" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
                </ul>
            </div>
        </div>
        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe src="home.html" frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>
        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>
<!-- 锁屏 -->
<form class="layui-form" id="lock-form" lay-filter="lock-form" onsubmit="return false;" style="display: none;">
    <div class="layui-input-wrap">
        <label for="sys-pin"></label>
        <input id="sys-pin" type="password" class="lock-screen-pin" lay-affix="eye">
        <div class="layui-input-suffix">
            <i class="layui-icon layui-icon-right" id="sys-unlock"></i>
        </div>
    </div>
    <div>请输入登陆密码，即可退出锁屏。</div>
</form>
<script th:src="@{/layui/layui.js}" src="../../static/layui/layui.js"></script>
<script th:inline="javascript">
    const config = {
        base: /*[[@{/}]]*/ '../../static/'
        , title: /*[[${config.title}]]*/ 'WEB-ADMIN-PRO'
        , version: /*[[${config.version}]]*/ '1.0.0'
        , copyright: /*[[${config.copyright}]]*/ '© 2025 All Rights Reserved.'
    }

    layui.config({
        base: config.base, version: true
    }).use(['index', 'common'], function () {

        layui.admin.events.logout = function () {
            layer.confirm('&ensp;&ensp;&ensp;&ensp;是否退出系统？', {
                title: '退出系统', closeBtn: 0, icon: 3, skin: 'layui-layer-admin'
            }, function (index) {
                layer.close(index);
                layui.common.req(`${config.base}sys/user/logout`, 'GET', null, {
                    done: function () {
                        layui.admin.exit(function () {
                            location.href = 'login.html';
                        });
                    }
                });
            });
        };

        layui.admin.events.lock = function () {
            lock();
        };

        if (layui.data('lock-screen').lock) {
            lock();
        }

        layui.common.req(`${config.base}sys/user`, 'GET', null, {
            done: function (data) {
                load(data.data);
            }
        });

        layui.common.req(`${config.base}sys/menu/page`, 'GET', null, {
            done: function (data) {
                layui.$('#LAY-system-side-menu').html(nav(null, data.data));
                layui.element.render('nav', 'layadmin-system-side-menu');
            }
        });

        function load(data) {
            if (data.avatar) layui.$('#sys-avatar').attr('src', data.avatar);
            layui.$('#sys-user').html(data.username);
        }

        function nav(id, menus) {
            const menu = [], child = [];
            menus.forEach(function (item) {
                //根据菜单主键id获取下级菜单
                if (item.pid === id) child.push(item);
            });
            //生成菜单列表
            menu.push(`${child.length === 0 || id === null ? '' : '<dl class="layui-nav-child">'}`)
            child.forEach(function (item) {
                if (item.sysMenu && !item.disable) {
                    menu.push(`${id === null ? '<li' : '<dd'} data-name="nav-item-${item.id}"`);
                    menu.push(`${id === null ? ' class="layui-nav-item layui-nav-itemed"' : ' '}>`);
                    menu.push(`${item.url ? `<a lay-href="${item.url}"` : '<a href="javascript:"'}`);
                    menu.push(`${id === null ? ` lay-tips="${item.title}"` : ''}>`);
                    menu.push(`${item.icon ? `<i class="${item.icon}"></i>` : ''}<cite>${item.title}</cite></a>`);
                    menu.push(nav(item.id, menus));
                    menu.push(`${id === null ? '</li>' : '</dd>'}`);
                }
            });
            menu.push(`${child.length === 0 || id === null ? '' : '</dl>'}`)
            return menu.join('');
        }

        function lock() {
            layui.$('#lock-form')[0].reset();
            layui.data('lock-screen', {key: 'lock', value: true});
            layui.layer.open({
                id: 'sys-lock', skin: 'lock-screen'
                , type: 1, title: false, closeBtn: false, area: ['100%', '100%']
                , scrollbar: false, anim: -1, isOutAnim: false, resize: false
                , content: layui.$('#lock-form')
                , success: function (layero, index) {
                    layui.$('#sys-pin')[0].focus();
                    layui.$('#sys-unlock').on('click', function () {
                        layui.common.req(`${config.base}sys/user/unlock`, 'POST', {
                            password: layui.$.trim(layui.$('#sys-pin').val())
                        }, {
                            done: function () {
                                layui.layer.close(index);
                                layui.data('lock-screen', {key: 'lock', value: false});
                            }
                            , complete: function () {
                                layui.$('#sys-pin')[0].focus();
                            }
                        });
                    });
                    layui.$('#sys-pin').on('keyup', function (e) {
                        if (e.keyCode === 13) layui.$('#sys-unlock').trigger('click');
                    });
                }
            });
        }
    });
</script>
</body>
</html>