<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="utf-8">
    <title th:text="|${config.title} v${config.version}|">WEB-ADMIN-PRO</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" href="../../static/favicon.ico"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="../../static/layui/css/layui.css" media="all">
    <link rel="stylesheet" th:href="@{/admin-ui/css/admin.css}" href="../../static/admin-ui/css/admin.css" media="all">
    <link rel="stylesheet" th:href="@{/style/lock-screen.css}" href="../../static/style/lock-screen.css" media="all">
</head>
<body class="layui-layout-body" id="LAY_home_iframe">
<div id="LAY_app" style="visibility: hidden">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="login.html" target="_blank" title="前台">
                        <i class="layui-icon layui-icon-website"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:" layadmin-event="refresh" title="刷新">
                        <i class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <label>
                        <input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search" layadmin-event="serach" lay-action="https://cn.bing.com/search?q=">
                    </label>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
                <li class="layui-nav-item" lay-unselect>
                    <a lay-href="notice.html" layadmin-event="message" lay-text="通知公告">
                        <i class="layui-icon layui-icon-notice"></i>
                        <span id="sys-notice-unread"></span>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a lay-href="chat.html" layadmin-event="chat" lay-text="智能助手">
                        <i class="layui-icon layui-icon-bot"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:" layadmin-event="note">
                        <i class="layui-icon layui-icon-note"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:" layadmin-event="theme">
                        <i class="layui-icon layui-icon-theme"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:" layadmin-event="fullscreen">
                        <i class="layui-icon layui-icon-screen-full"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:">
                        <img id="sys-avatar" class="layui-nav-img" alt=""
                             th:src="@{/style/imgs/logo.jpg}"
                             src="../../static/style/imgs/logo.jpg"
                             th:onerror="|this.onerror=null;this.src='@{/style/imgs/logo.jpg}';|">
                        <cite id="sys-user"></cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd style="text-align: center;"><a lay-href="me.html">个人中心</a></dd>
                        <dd style="text-align: center;" layadmin-event="lock"><a>锁屏</a></dd>
                        <hr>
                        <dd style="text-align: center;" layadmin-event="logout"><a>退出登录</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
                <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
                    <a href="javascript:" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
            </ul>
        </div>
        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo" lay-href="home.html">
                    <span th:text="${config.title}">WEB-ADMIN-PRO</span>
                </div>
                <ul class="layui-nav layui-nav-tree" lay-accordion id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
                </ul>
            </div>
        </div>
        <!-- 页面标签 -->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-down">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:"></a>
                        <dl class="layui-nav-child layui-anim-fadein">
                            <dd layadmin-event="closeThisTabs"><a href="javascript:">关闭当前标签页</a></dd>
                            <dd layadmin-event="closeOtherTabs"><a href="javascript:">关闭其它标签页</a></dd>
                            <dd layadmin-event="closeRightTabs"><a href="javascript:">关闭右侧标签页</a></dd>
                            <dd layadmin-event="closeAllTabs"><a href="javascript:">关闭全部标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <li lay-id="home.html" lay-attr="home.html" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
                </ul>
            </div>
        </div>
        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe src="home.html" frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>
        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>
<script th:src="@{/layui/layui.js}" src="../../static/layui/layui.js"></script>
<script th:inline="javascript">
    const config = {
        base: /*[[@{/}]]*/ '../../static/'
        , title: /*[[${config.title}]]*/ 'WEB-ADMIN-PRO'
        , version: /*[[${config.version}]]*/ '1.0.0'
        , copyright: /*[[${config.copyright}]]*/ '© 2025 All Rights Reserved.'
    }

    layui.config({
        base: config.base, version: true
    }).use(['index', 'common'], function () {

        layui.admin.events.logout = function () {
            layer.confirm('&ensp;&ensp;&ensp;&ensp;是否退出系统？', {
                title: '退出系统', closeBtn: 0, icon: 3, skin: 'layui-layer-admin'
            }, function (index) {
                layer.close(index);
                layui.common.req(`${config.base}sys/user/logout.json`, 'GET', null, {
                    done: function () {
                        layui.admin.exit(function () {
                            location.href = `${config.base}admin/login.html`;
                        });
                    }
                });
            });
        };

        layui.admin.events.lock = function () {
            lock();
        };

        if (layui.data('lock-screen').lock) {
            lock();
        }

        layui.common.req(`${config.base}sys/user/me.json`, 'GET', null, {
            done: function (data) {
                if (data.data.avatar) layui.$('#sys-avatar').attr('src', data.data.avatar);
                layui.$('#sys-user').html(data.data.username);
            }
        });

        layui.common.req(`${config.base}sys/menu/me.json`, 'GET', null, {
            done: function (data) {
                layui.$('#LAY-system-side-menu').html(nav(layui.lay.flatToTree(data.data, {parentKey: 'pid'})));
                layui.element.render('nav', 'layadmin-system-side-menu');
            }
        });

        layui.common.req(`${config.base}sys/notice/unRead.json`, 'GET', null, {
            done: function (data) {
                layui.$('#sys-notice-unread')
                    .attr('class', `${data.data > 0 ? 'layui-badge' : ''}`)
                    .text(`${data.data > 0 ? data.data > 99 ? '99+' : data.data : ''}`);
            }
        });

        function nav(items) {
            return items.map(function (item) {
                const isRoot = item.pid === null;
                return `
                <${isRoot ? 'li' : 'dd'} data-name="nav-item-${item.id}"${isRoot ? ' class="layui-nav-item layui-nav-itemed"' : ''}>
                  <a${item.url ? ` lay-href="${item.url}"` : ' href="javascript:"'}${isRoot ? ` lay-tips="${item.title}"` : ''}>
                    ${item.icon ? `<i class="${item.icon}"></i>` : ''}<cite>${item.title}</cite>
                  </a>
                  ${item.children.length > 0 ? `<dl class="layui-nav-child">${nav(item.children)}</dl>` : ''}
                </${isRoot ? 'li' : 'dd'}>
                `;
            }).join('');
        }

        function lock() {
            layui.layer.open({
                id: 'sys-lock', skin: 'lock-screen'
                , type: 1, title: false, closeBtn: false, area: ['100%', '100%']
                , scrollbar: false, anim: -1, isOutAnim: false, resize: false
                , content: ['<form class="layui-form" onsubmit="return false;"><div class="layui-input-wrap">',
                    '<input type="password" class="lock-screen-pin" autocomplete="off" lay-affix="eye" value="">',
                    '<div class="layui-input-suffix"><i class="layui-icon layui-icon-right"></i></div>',
                    '</div><div>请输入登陆密码，即可退出锁屏。</div></form>'].join('')
                , success: function (layero, index) {
                    layui.data('lock-screen', {key: 'lock', value: true});
                    layui.form.render();
                    layero.find('.layui-form')[0].reset();
                    layero.find('.layui-icon-right').on('click', function () {
                        if (layero.find('input').val() === '') return layero.find('input').focus();
                        layui.common.req(`${config.base}sys/user/unlock.json`, 'POST', {
                            password: layero.find('input').val()
                        }, {
                            done: function () {
                                layui.layer.close(index);
                                layui.data('lock-screen', {key: 'lock', value: false});
                            }
                        });
                    });
                    layero.find('input').on('keyup', function (e) {
                        if (e.keyCode === 13) layero.find('.layui-icon-right').trigger('click');
                    }).focus();
                }
            });
        }
    });
</script>
</body>
</html>