<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title th:text="|${config.title} v${config.version}|">WEB-ADMIN-PRO</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" href="../../static/favicon.ico"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="../../static/layui/css/layui.css" media="all">
    <link rel="stylesheet" th:href="@{/admin-ui/css/admin.css}" href="../../static/admin-ui/css/admin.css" media="all">
</head>
<body class="layui-fluid">
<div class="layui-card">
    <div class="layui-card-header">日志管理</div>
    <div class="layui-card-body">
        <div class="layui-form-item layui-form-pane">
            <div class="layui-inline">
                <label class="layui-form-label">日期范围</label>
                <div class="layui-input-inline">
                    <label for="timestamp"></label>
                    <input type="text" class="layui-input" id="timestamp" readonly placeholder="日期范围">
                </div>
            </div>
            <!--更多查询条件的例子，没有实际作用，只作为演示使用。-->
            <div class="layui-inline sys-query-more" style="display: none;">
                <label class="layui-form-label">用户账号</label>
                <div class="layui-input-inline">
                    <label for="username"></label>
                    <input type="text" class="layui-input" id="username" placeholder="用户账号">
                </div>
            </div>
            <div class="layui-inline">
                <button layadmin-event="search" class="layui-btn layui-btn-radius layui-btn-sm">
                    <i class="layui-icon layui-icon-search"></i>查询
                </button>
                <button layadmin-event="refresh" class="layui-btn layui-btn-radius layui-btn-sm layui-bg-orange">
                    <i class="layui-icon layui-icon-refresh"></i>重置
                </button>
                <button class="layui-btn layui-btn-primary layui-btn-xs sys-query-more">
                    <i class="layui-icon layui-icon-down"></i>展开筛选项
                </button>
                <button class="layui-btn layui-btn-primary layui-btn-xs sys-query-more" style="display: none;">
                    <i class="layui-icon layui-icon-up"></i>收起筛选项
                </button>
            </div>
        </div>
        <table class="layui-hide" id="sys-log-table" lay-filter="sys-log-table"></table>
    </div>
</div>
<script type="text/html" id="sys-log-name">
    {{ d.name }}{{# if(d.errors){ }}<span class="layui-badge">异常</span>{{# } }}
</script>
<script type="text/html" id="sys-log-method">
    {{# if(d.method === 'GET'){ }}
    <span lay-tips="{{ d.url }}" class="layui-badge layui-bg-orange">{{ d.method }}</span>
    {{# }else if(d.method === 'POST'){ }}
    <span lay-tips="{{ d.url }}" class="layui-badge layui-bg-green">{{ d.method }}</span>
    {{# }else if(d.method === 'PUT'){ }}
    <span lay-tips="{{ d.url }}" class="layui-badge layui-bg-blue">{{ d.method }}</span>
    {{# }else if(d.method === 'DELETE'){ }}
    <span lay-tips="{{ d.url }}" class="layui-badge layui-bg-red">{{ d.method }}</span>
    {{# }else{ }}
    <span lay-tips="{{ d.url }}" class="layui-badge-rim">{{ d.method?d.method:'未知' }}</span>
    {{# } }}
</script>
<script type="text/html" id="sys-log-ms">
    <span class="layui-badge layui-bg-orange">{{ d.ms/1000 }}</span>
</script>
<script type="text/html" id="sys-log-code">
    {{# if(d.params){ }}
    <pre class="layui-code" lay-options="{text:{code:'请求参数'}}">{{ d.params }}</pre>
    {{# } }}
    {{# if(d.result){ }}<br>
    <pre class="layui-code" lay-options="{text:{code:'返回参数'}}">{{ d.result }}</pre>
    {{# } }}
    {{# if(d.errors){ }}<br>
    <pre class="layui-code" lay-options="{text:{code:'异常信息'},wordWrap:false}">{{ d.errors }}</pre>
    {{# } }}
</script>
<script type="text/html" id="sys-log-toolbar">
    <button class="layui-btn layui-btn-sm layui-bg-red" lay-event="sys-delete-toolbar">
        <i class="layui-icon layui-icon-delete" lay-tips="删除"></i>
    </button>
</script>
<script type="text/html" id="sys-log-tool">
    <button class="layui-btn layui-btn-xs layui-bg-blue" lay-event="sys-search-tool">
        <i class="layui-icon layui-icon-search" lay-tips="查看"></i>
    </button>
</script>
<script th:src="@{/layui/layui.js}" src="../../static/layui/layui.js"></script>
<script th:inline="javascript">
    const config = {
        base:/*[[@{/}]]*/ '../../static/'
    }

    layui.config({
        base: config.base, version: true
    }).use(['index', 'common'], function () {

        layui.laydate.render({
            elem: '#timestamp', range: ':'
            , value: `${layui.common.asDay()} : ${layui.common.asDay(1)}`
        });

        layui.table.render({
            elem: '#sys-log-table', page: true
            , url: `${config.base}sys/log/all.json`
            , method: 'POST', contentType: "application/json;charset=UTF-8"
            , toolbar: '#sys-log-toolbar'
            , cols: [
                [
                    {fixed: 'left', type: 'checkbox'}
                    , {field: 'username', title: '用户', minWidth: 80, width: 80}
                    , {field: 'name', title: '描述', minWidth: 100, templet: '#sys-log-name'}
                    , {field: 'method', title: '请求', minWidth: 90, maxWidth: 90, width: 90, templet: '#sys-log-method'}
                    , {field: 'url', title: '地址', hide: true}
                    , {field: 'ip', title: 'IP', maxWidth: 150, width: 150}
                    , {field: 'os', title: '系统', width: 120}
                    , {field: 'browser', title: '浏览器', width: 120}
                    , {field: 'ms', title: '耗时', align: 'right', minWidth: 80, maxWidth: 80, width: 80, templet: '#sys-log-ms'}
                    , {field: 'timestamp', title: '创建时间', minWidth: 120, maxWidth: 180, width: 180}
                    , {fixed: 'right', title: '操作', align: 'center', toolbar: '#sys-log-tool', minWidth: 60, maxWidth: 60, width: 60}
                ]
            ]
            , where: {
                username: layui.$('#username').val()
                , startTimestamp: (layui.$('#timestamp').val().split(":")[0]
                    || layui.common.asDay()).trim() + ' 00:00:00'
                , endTimestamp: (layui.$('#timestamp').val().split(":")[1]
                    || layui.common.asDay(1)).trim() + ' 00:00:00'
            }
            , done: function () {
                layui.common.asCols(this);
            }
        });

        layui.table.on('toolbar(sys-log-table)', function (data) {
            if (data.event === 'sys-delete-toolbar') {
                const logs = layui.table.checkStatus('sys-log-table').data;
                if (logs.length <= 0) return layui.layer.msg("请选择一条纪录！");
                layui.layer.confirm(`&ensp;&ensp;&ensp;&ensp;是否删除【${logs.length}】条日志？`, {
                    title: '删除', closeBtn: 0, icon: 3, skin: 'layui-layer-admin'
                }, function (index) {
                    layui.layer.close(index);
                    layui.layer.prompt({
                        title: '请输入登录密码', closeBtn: 0, formType: 1, skin: 'layui-layer-admin'
                        , success: function (layero) {
                            layero.addClass('layui-form').find('input')
                                .addClass('layui-input').attr('lay-affix', 'eye');
                            layui.form.render();
                            layero.find('input').focus();
                        }
                    }, function (value, index, elem) {
                        if (value === '') return elem.focus();
                        layer.close(index);
                        layui.common.req(`${config.base}sys/user/unlock.json`, 'POST', {password: value}, {
                            done: function () {
                                layui.common.req(`${config.base}sys/log/delete.json`, 'DELETE', logs.map(log => log.id), {
                                    done: function (data) {
                                        layui.layer.msg(data.msg);
                                        layui.table.reload('sys-log-table');
                                    }
                                });
                            }
                        });
                    });
                });
            }
            if (data.event === 'sys-refresh-toolbar') {
                layui.table.reload('sys-log-table');
            }
        });

        layui.table.on('tool(sys-log-table)', function (data) {
            if (data.event === 'sys-search-tool') {
                layui.laytpl(layui.$('#sys-log-code').html()).render(data.data, function (html) {
                    layui.admin.popup({
                        type: 1, area: 'auto'
                        , title: `${data.data.name}（${data.data.method}:${data.data.url}）`, content: html
                        , success: function () {
                            layui.code({elem: '.layui-code', theme: 'dark', header: true});
                        }
                    });
                });
            }
        });

        layui.admin.events.search = function () {
            layui.table.reload('sys-log-table', {
                page: {curr: 1}
                , where: {
                    username: layui.$('#username').val()
                    , startTimestamp: (layui.$('#timestamp').val().split(":")[0]
                        || layui.common.asDay()).trim() + ' 00:00:00'
                    , endTimestamp: (layui.$('#timestamp').val().split(":")[1]
                        || layui.common.asDay(1)).trim() + ' 00:00:00'
                }
            });
        }

        layui.admin.events.refresh = function () {
            layui.$('#username').val('');
            layui.laydate.render({
                elem: '#timestamp', range: ':'
                , value: `${layui.common.asDay()} : ${layui.common.asDay(1)}`
            });
        }

    });
</script>
</body>
</html>