<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="utf-8">
    <title th:text="|${config.title} v${config.version}|">WEB-ADMIN-PRO</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" href="../../static/favicon.ico"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="../../static/layui/css/layui.css" media="all">
    <link rel="stylesheet" th:href="@{/admin-ui/css/admin.css}" href="../../static/admin-ui/css/admin.css" media="all">
</head>
<body class="layui-fluid">
<div class="layui-card">
    <div class="layui-card-header">菜单管理</div>
    <div class="layui-card-body">
        <table class="layui-hide" id="sys-menu-table" lay-filter="sys-menu-table"></table>
    </div>
</div>
<script type="text/html" id="sys-menu-tpl">
    <input type="checkbox" value="{{d.id}}"
           {{#if(d.sysMenu){}}checked{{#}}}
           data-json="{{encodeURIComponent(JSON.stringify(d))}}"
           title="是|否" lay-skin="switch" lay-filter="sys-menu">
</script>
<script type="text/html" id="disable-tpl">
    <input type="checkbox" value="{{d.id}}"
           {{#if(!d.disable){}}checked{{#}}}
           data-json="{{encodeURIComponent(JSON.stringify(d))}}"
           title="启用|禁用" lay-skin="switch" lay-filter="sys-disable">
</script>
<script type="text/html" id="sys-menu-toolbar">
    <div class="layui-btn-group">
        <button class="layui-btn layui-btn-sm" lay-event="save-toolbar">
            <i class="layui-icon layui-icon-add-1"></i>添加
        </button>
        <button class="layui-btn layui-btn-sm layui-bg-blue" lay-event="edit-toolbar">
            <i class="layui-icon layui-icon-edit"></i>编辑
        </button>
        <button class="layui-btn layui-btn-sm layui-bg-red" lay-event="delete-toolbar">
            <i class="layui-icon layui-icon-delete"></i>删除
        </button>
        <button class="layui-btn layui-btn-sm layui-bg-orange" lay-event="refresh-toolbar">
            <i class="layui-icon layui-icon-refresh"></i>刷新
        </button>
    </div>
</script>
<script type="text/html" id="sys-menu-tool">
    <div class="layui-btn-group">
        <button class="layui-btn layui-btn-xs layui-bg-blue" lay-event="edit-tool">
            <i class="layui-icon layui-icon-edit"></i>
        </button>
        <button class="layui-btn layui-btn-xs layui-bg-red" lay-event="delete-tool">
            <i class="layui-icon layui-icon-delete"></i>
        </button>
        <button class="layui-btn layui-btn-xs" lay-event="more-tool">
            <i class="layui-icon layui-icon-more-vertical"></i>
        </button>
    </div>
</script>
<script th:src="@{/layui/layui.js}" src="../../static/layui/layui.js"></script>
<script th:inline="javascript">

    layui.config({
        base: /*[[@{/}]]*/ '../../static/'
        , version: true
    }).use(['index', 'common'], function () {
        layui.treeTable.render({
            elem: '#sys-menu-table'
            , url: /*[[@{/sys/menu/page}]]*/ '/sys/menu/page'
            , toolbar: '#sys-menu-toolbar'
            , tree: {
                customName: {name: 'title', pid: 'pid'}
                , view: {expandAllDefault: true, iconClose: '', iconOpen: '', iconLeaf: ''}
                , data: {isSimpleData: true, rootPid: null}
            }
            , cols: [
                [
                    {type: 'radio'}
                    , {field: 'title', title: '标题', width: 200}
                    , {field: 'url', title: '地址'}
                    , {field: 'remark', title: '备注', hide: true}
                    , {field: 'sysMenu', title: '菜单', align: 'center', width: 90, templet: '#sys-menu-tpl'}
                    , {field: 'disable', title: '状态', align: 'center', width: 90, templet: '#disable-tpl'}
                    , {field: 'createUsername', title: '创建用户', width: 90, hide: true}
                    , {field: 'createTimestamp', title: '创建时间', width: 110, hide: true}
                    , {field: 'updateUsername', title: '修改用户', width: 90, hide: true}
                    , {field: 'updateTimestamp', title: '修改时间', width: 110, hide: true}
                    , {title: '操作', align: 'center', toolbar: '#sys-menu-tool', width: 120}
                ]
            ]
        });
    });
</script>
</body>
</html>