<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="utf-8">
    <title th:text="|${config.title} v${config.version}|">WEB-ADMIN-PRO</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" href="../../static/favicon.ico"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="../../static/layui/css/layui.css" media="all">
    <link rel="stylesheet" th:href="@{/admin-ui/css/admin.css}" href="../../static/admin-ui/css/admin.css" media="all">
</head>
<body class="layui-fluid">
<div class="layui-card">
    <div class="layui-card-header">菜单管理</div>
    <div class="layui-card-body">
        <table class="layui-hide" id="sys-menu-table" lay-filter="sys-menu-table"></table>
    </div>
</div>
<script type="text/html" id="sys-title-tpl">
    <span lay-tips="{{ d.remark?d.remark:d.title }}">{{ d.title }}</span>
</script>
<script type="text/html" id="sys-method-tpl">
    {{# if(d.method === 'GET'){ }}
    <span class="layui-badge layui-bg-orange" lay-tips="{{ d.url?d.url:'目录' }}">{{ d.method }}</span>
    {{# }else if(d.method === 'POST'){ }}
    <span class="layui-badge layui-bg-green" lay-tips="{{ d.url?d.url:'目录' }}">{{ d.method }}</span>
    {{# }else if(d.method === 'PUT'){ }}
    <span class="layui-badge layui-bg-blue" lay-tips="{{ d.url?d.url:'目录' }}">{{ d.method }}</span>
    {{# }else if(d.method === 'DELETE'){ }}
    <span class="layui-badge layui-bg-red" lay-tips="{{ d.url?d.url:'目录' }}">{{ d.method }}</span>
    {{# }else{ }}
    <span class="layui-badge-rim" lay-tips="{{ d.url?d.url:'目录' }}">{{ d.method?d.method:'目录' }}</span>
    {{# } }}
</script>
<script type="text/html" id="sys-menu-tpl">
    {{# if(d.sysMenu){ }}
    <input type="checkbox" checked value="{{ d.id }}" data-json="{{ encodeURIComponent(JSON.stringify(d)) }}" title="是|否" lay-skin="switch" lay-filter="sys-menu-switch">
    {{# }else{ }}
    <input type="checkbox" value="{{ d.id }}" data-json="{{ encodeURIComponent(JSON.stringify(d)) }}" title="是|否" lay-skin="switch" lay-filter="sys-menu-switch">
    {{# } }}
</script>
<script type="text/html" id="sys-disable-tpl">
    {{# if(d.disable){ }}
    <input type="checkbox" value="{{ d.id }}" data-json="{{ encodeURIComponent(JSON.stringify(d)) }}" title="启用|禁用" lay-skin="switch" lay-filter="sys-disable-switch">
    {{# }else{ }}
    <input type="checkbox" checked value="{{ d.id }}" data-json="{{ encodeURIComponent(JSON.stringify(d)) }}" title="启用|禁用" lay-skin="switch" lay-filter="sys-disable-switch">
    {{# } }}
</script>
<script type="text/html" id="sys-menu-toolbar">
    <div class="layui-btn-group">
        <button class="layui-btn layui-btn-sm" lay-event="sys-add-toolbar">
            <i class="layui-icon layui-icon-add-1" lay-tips="创建"></i>
        </button>
        <button class="layui-btn layui-btn-sm layui-bg-blue" lay-event="sys-edit-toolbar">
            <i class="layui-icon layui-icon-edit" lay-tips="修改"></i>
        </button>
        <button class="layui-btn layui-btn-sm layui-bg-red" lay-event="sys-delete-toolbar">
            <i class="layui-icon layui-icon-delete" lay-tips="删除"></i>
        </button>
        <!--button class="layui-btn layui-btn-sm layui-bg-orange" lay-event="sys-refresh-toolbar">
            <i class="layui-icon layui-icon-refresh" lay-tips="刷新"></i>
        </button-->
    </div>
</script>
<script type="text/html" id="sys-menu-tool">
    <div class="layui-btn-group">
        <button class="layui-btn layui-btn-xs layui-bg-blue" lay-event="sys-edit-tool">
            <i class="layui-icon layui-icon-edit" lay-tips="修改"></i>
        </button>
        <button class="layui-btn layui-btn-xs layui-bg-red" lay-event="sys-delete-tool">
            <i class="layui-icon layui-icon-delete" lay-tips="删除"></i>
        </button>
        <button class="layui-btn layui-btn-xs" lay-event="sys-more-tool">
            <i class="layui-icon layui-icon-more-vertical" lay-tips="更多"></i>
        </button>
    </div>
</script>
<form class="layui-form" id="sys-menu-form" lay-filter="sys-menu-form" style="display: none;">
    <input type="hidden" id="id" name="id">
    <div class="layui-form-item">
        <label class="layui-form-label" for="title">上级菜单</label>
        <div class="layui-input-block" id="sys-menu"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" for="title">菜单标题</label>
        <div class="layui-input-block">
            <input type="text" id="title" name="title" lay-verify="required" placeholder="菜单标题" lay-reqtext="请输入菜单标题" autocomplete="off" class="layui-input" lay-affix="clear">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" for="url">菜单地址</label>
        <div class="layui-input-block">
            <div class="layui-input-wrap">
                <input type="text" id="url" name="url" placeholder="菜单地址" autocomplete="off" class="layui-input">
                <div class="layui-input-affix layui-input-suffix">
                    <i id="url-suffix" class="layui-icon layui-icon-tips" lay-tips="1、&nbsp;?&nbsp;匹配一个字符<br>2、&nbsp;*&nbsp;匹配0个或多个字符<br>3、**&nbsp;匹配0个或多个目录"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" for="icon">菜单图标</label>
            <div class="layui-input-block">
                <div class="layui-input-wrap">
                    <input type="text" id="icon" name="icon" readonly placeholder="请选择图标" autocomplete="off" class="layui-input">
                    <div class="layui-input-affix layui-input-suffix">
                        <i id="icon-suffix" class="layui-icon layui-icon-search" lay-tips="点击清空图标"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label" for="method">请求</label>
            <div class="layui-input-block" style="width: 90px;">
                <select id="method" name="method">
                    <option value=""></option>
                    <option value="GET">GET</option>
                    <option value="POST">POST</option>
                    <option value="PUT">PUT</option>
                    <option value="DELETE">DELETE</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" for="remark">菜单备注</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea" id="remark" name="remark" placeholder="菜单备注" lay-affix="clear"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">菜单状态</label>
            <div class="layui-input-block">
                <input type="checkbox" checked id="disable" name="disable" title="启用|禁用" lay-skin="switch">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">菜单</label>
            <div class="layui-input-block">
                <input type="checkbox" checked id="sysMenu" name="sysMenu" title="是|否" lay-skin="switch">
            </div>
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="sys-menu-submit" id="sys-menu-submit" value="确认">
    </div>
</form>
<script th:src="@{/layui/layui.js}" src="../../static/layui/layui.js"></script>
<script th:src="@{/modules/xm-select.js}" src="../../static/modules/xm-select.js"></script>
<script th:inline="javascript">
    const config = {
        base:/*[[@{/}]]*/ '../../static/'
    }

    layui.config({
        base: config.base, version: true
    }).use(['index', 'common'], function () {

        layui.$('#icon').on('click', function () {
            layui.admin.popup({
                id: 'sys-icon'
                , type: 2, anim: -1, shadeClose: true
                , title: '图标', area: ['650px', '450px']
                , skin: 'layadmin-note layui-anim layui-anim-upbit'
                , content: `${config.base}views/template/icon.html`
            });
        });

        layui.$('#icon-suffix').on('click', function () {
            layui.$('#icon').val('');
            layui.$(this).attr('class', 'layui-icon layui-icon-search');
        });

        layui.$('#url-suffix').on('click', function () {
            layui.$('#url').val('');
        });

        layui.treeTable.render({
            elem: '#sys-menu-table', skin: 'line'
            , url: `${config.base}sys/menu/all.json`
            , toolbar: '#sys-menu-toolbar'
            , tree: {
                customName: {name: 'title', pid: 'pid'}
                , view: {expandAllDefault: false, iconClose: '', iconOpen: '', iconLeaf: ''}
                , data: {isSimpleData: true, rootPid: null}
            }
            , cols: [
                [
                    {fixed: 'left', type: 'checkbox'}
                    , {field: 'title', title: '标题', minWidth: 160, templet: '#sys-title-tpl'}
                    , {field: 'method', title: '请求', minWidth: 90, maxWidth: 90, width: 90, templet: '#sys-method-tpl'}
                    , {field: 'url', title: '地址', minWidth: 180}
                    , {field: 'sysMenu', title: '菜单', align: 'center', minWidth: 90, maxWidth: 90, width: 90, templet: '#sys-menu-tpl'}
                    , {field: 'disable', title: '状态', align: 'center', minWidth: 90, maxWidth: 90, width: 90, templet: '#sys-disable-tpl'}
                    , {field: 'createUsername', title: '创建用户', minWidth: 110, maxWidth: 110, width: 110, hide: true}
                    , {field: 'createTimestamp', title: '创建时间', minWidth: 120, maxWidth: 180, width: 180, hide: true}
                    , {field: 'updateUsername', title: '修改用户', minWidth: 110, maxWidth: 110, width: 110, hide: true}
                    , {field: 'updateTimestamp', title: '修改时间', minWidth: 120, maxWidth: 180, width: 180, hide: true}
                    , {field: 'remark', title: '备注', hide: true}
                    , {fixed: 'right', title: '操作', align: 'center', toolbar: '#sys-menu-tool', minWidth: 120, maxWidth: 120, width: 120}
                ]
            ]
            , done: function () {
                layui.common.asCols(this);
                layui.treeTable.expandNode('sys-menu-table', {index: 0, expandFlag: true});
            }
        });

        layui.table.on('checkbox(sys-menu-table)', function (data) {
            layui.treeTable.checkAllNodes('sys-menu-table', false);
            if (data.dataIndex) {
                data.dataCache.LAY_CHECKED = true;
                layui.treeTable.setRowChecked('sys-menu-table', {index: data.dataIndex, checked: true, callbackFlag: true});
                layui.treeTable.renderData('sys-menu-table');
            }
        });

        layui.table.on('toolbar(sys-menu-table)', function (data) {
            if (data.event === 'sys-add-toolbar') {
                layui.$('#id').val('');
                layui.$('#sys-menu-form')[0].reset();
                layui.$('#icon-suffix').attr('class', 'layui-icon layui-icon-search');
                load(function () {
                    xmSelect.get('#sys-menu', true).setValue([]);
                    save('创建菜单', 'POST');
                });
            }
            if (data.event === 'sys-edit-toolbar' || data.event === 'sys-delete-toolbar') {
                const menus = layui.treeTable.checkStatus('sys-menu-table').data;
                if (menus.length <= 0) return layui.layer.msg("请选择一条纪录！");
                if (data.event === 'sys-edit-toolbar') {
                    menus[0].disable = !menus[0].disable;
                    layui.form.val('sys-menu-form', menus[0]);
                    layui.$('#icon-suffix').attr('class', `${menus[0].icon ? menus[0].icon : 'layui-icon layui-icon-search'}`);
                    load(function () {
                        xmSelect.get('#sys-menu', true).setValue(menus[0].pid ? [menus[0].pid] : []);
                        save('修改菜单', 'PUT');
                    });
                }
                if (data.event === 'sys-delete-toolbar') {
                    del(menus[0]);
                }
            }
            if (data.event === 'sys-refresh-toolbar') {
                layui.table.reload('sys-menu-table');
            }
        });

        layui.table.on('tool(sys-menu-table)', function (data) {
            if (data.event === 'sys-edit-tool') {
                data.data.disable = !data.data.disable;
                layui.form.val('sys-menu-form', data.data);
                layui.$('#icon-suffix').attr('class', `${data.data.icon ? data.data.icon : 'layui-icon layui-icon-search'}`);
                load(function () {
                    xmSelect.get('#sys-menu', true).setValue(data.data.pid ? [data.data.pid] : []);
                    save('修改菜单', 'PUT');
                });
            }
            if (data.event === 'sys-delete-tool') {
                del(data.data);
            }
            if (data.event === 'sys-more-tool') {
                const id = data.data.id;
                layui.dropdown.render({
                    elem: this, show: true
                    , data: [{id: 'UP', title: '上移'}, {id: 'DOWN', title: '下移'}]
                    , click: function (data) {
                        if (data.id === 'UP' || data.id === 'DOWN') {
                            layui.common.req(`${config.base}sys/menu/move.json`, 'PUT', {
                                id: id, move: data.id
                            }, {
                                done: function (data) {
                                    layui.layer.msg(data.msg);
                                    layui.table.reload('sys-menu-table');
                                }
                            });
                        }
                    }
                });
            }
        });

        layui.form.on('switch(sys-menu-switch)', function (data) {
            const menu = JSON.parse(decodeURIComponent(layui.$(this).data('json')));
            layui.layer.confirm(`&ensp;&ensp;&ensp;&ensp;是否${data.elem.checked ? '设置' : '取消'}【${menu.title}】菜单？`, {
                title: '菜单', closeBtn: 0, icon: 3, skin: 'layui-layer-admin'
            }, function (index) {
                layui.layer.close(index);
                menu.sysMenu = data.elem.checked;
                layui.common.req(`${config.base}sys/menu/update.json`, 'PUT', menu, {
                    done: function (data) {
                        layui.layer.msg(data.msg);
                    }
                    , complete: function () {
                        layui.table.reload('sys-menu-table');
                    }
                });
            }, function () {
                data.elem.checked = !data.elem.checked;
            });
        });

        layui.form.on('switch(sys-disable-switch)', function (data) {
            const menu = JSON.parse(decodeURIComponent(layui.$(this).data('json')));
            layui.layer.confirm(`&ensp;&ensp;&ensp;&ensp;是否${data.elem.checked ? '启用' : '禁用'}【${menu.title}】菜单？`, {
                title: `${data.elem.checked ? '启用' : '禁用'}`, closeBtn: 0, icon: 3, skin: 'layui-layer-admin'
            }, function (index) {
                layui.layer.close(index);
                menu.disable = !data.elem.checked;
                layui.common.req(`${config.base}sys/menu/update.json`, 'PUT', menu, {
                    done: function (data) {
                        layui.layer.msg(data.msg);
                    }
                    , complete: function () {
                        layui.table.reload('sys-menu-table');
                    }
                });
            }, function () {
                data.elem.checked = !data.elem.checked;
            });
        });

        function load(callback) {
            layui.common.req(`${config.base}sys/menu/all.json`, 'GET', null, {
                done: function (data) {
                    xmSelect.render({
                        el: '#sys-menu', direction: 'down'
                        , data: lay.flatToTree(data.data, {parentKey: 'pid'})
                        , tree: {show: true, strict: false}
                        , prop: {name: 'title', value: 'id',}
                        , model: {label: {type: 'text'}}
                        , theme: {color: '#16b777'}
                        , on: function (data) {
                            if (data.isAdd) return data.change.slice(0, 1);
                        }
                    });
                    typeof callback === 'function' && callback();
                }
            });
        }

        function save(title, type) {
            layui.admin.popup({
                type: 1, title: title, area: 'auto'
                , content: layui.$('#sys-menu-form')
                , btn: ['确定', '取消']
                , yes: function (index) {
                    layui.form.on('submit(sys-menu-submit)', function (data) {
                        data.field.sysMenu = data.field.sysMenu === 'on';
                        data.field.disable = data.field.disable !== 'on';
                        const pid = xmSelect.get('#sys-menu', true).getValue('valueStr');
                        data.field.pid = pid ? pid : null;
                        layui.layer.close(index);
                        layui.common.req(`${config.base}sys/menu/${type === 'POST' ? 'create.json' : 'update.json'}`, type, data.field, {
                            done: function (data) {
                                layui.layer.msg(data.msg);
                                layui.table.reload('sys-menu-table');
                            }
                        });
                    });
                    layui.$('#sys-menu-submit').trigger('click');
                }
            });
        }

        function del(menu) {
            layui.layer.confirm(`&ensp;&ensp;&ensp;&ensp;是否删除【${menu.title}】菜单？`, {
                title: '删除菜单', closeBtn: 0, icon: 3, skin: 'layui-layer-admin'
            }, function (index) {
                layui.layer.close(index);
                layui.common.req(`${config.base}sys/menu/delete.json`, 'DELETE', menu.id, {
                    done: function (data) {
                        layui.layer.msg(data.msg);
                        layui.table.reload('sys-menu-table');
                    }
                });
            });
        }

    });
</script>
</body>
</html>