<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="utf-8">
    <title th:text="|${config.title} v${config.version}|">WEB-ADMIN-PRO</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" href="../../static/favicon.ico"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="../../static/layui/css/layui.css" media="all">
    <link rel="stylesheet" th:href="@{/layui/css/layedit.css}" href="../../static/layui/css/layedit.css" media="all">
    <link rel="stylesheet" th:href="@{/admin-ui/css/admin.css}" href="../../static/admin-ui/css/admin.css" media="all">
</head>
<body class="layui-fluid">
<div id="sys-notice-list" class="layui-card">
    <div class="layui-card-body">
        <div class="layui-tabs" id="sys-notice-tabs">
            <ul class="layui-tabs-header">
                <li class="layui-icon layui-icon-dialogue layui-this">
                    未读<span id="sys-notice-unread"></span>
                </li>
                <li class="layui-icon layui-icon-read">
                    已读
                </li>
                <li class="layui-icon layui-icon-username">
                    我的
                </li>
                <li class="layui-icon layui-icon-notice" lay-id="all">
                    全部
                </li>
            </ul>
            <div class="layui-tabs-body layui-form">
                <table class="layui-hide" id="sys-notice-table" lay-filter="sys-notice-table"></table>
            </div>
        </div>
    </div>
</div>
<div id="sys-notice-show"></div>
<script id="sys-notice-tpl" type="text/html">
    <div class="layui-card layuiAdmin-msg-detail">
        <div class="layui-card-header">
            <h1>{{ d.title }}</h1>
            <p>
                <span lay-tips="{{ d.createTimestamp }}">发布时间：{{ layui.util.timeAgo(d.createTimestamp) }}</span>
                &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<span>发布用户：{{ d.createUsername }}</span>
            </p>
        </div>
        <div class="layui-card-body layui-text">
            <p>
                <a href="javascript:" id="sys-notice-back" class="layui-btn layui-btn-primary layui-btn-sm">返回上级</a>
            </p>
            <div class="layadmin-text">
                {{- d.content }}
                <hr>
                <blockquote class="layui-elem-quote">
                    <span lay-tips="{{ d.updateTimestamp||d.createTimestamp }}">修改时间：{{ layui.util.timeAgo(d.updateTime||d.createTimestamp) }}</span>
                    &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<span>修改用户：{{ d.updateUsername||d.createUsername }}</span>
                    {{# if(d.users.length>0){ }}
                    <hr>
                    <span>
                        {{# layui.each(d.users, function(index, item){ }}
                        <span class="layui-badge layui-bg-green">{{ item.username }}</span>
                        {{# }); }}
                    </span>
                    {{# } }}
                </blockquote>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="sys-notice-toolbar">
    <div class="layui-btn-group">
        <button class="layui-btn layui-btn-sm" lay-event="sys-add-toolbar">
            <i class="layui-icon layui-icon-add-1" lay-tips="创建"></i>
        </button>
        <button class="layui-btn layui-btn-sm layui-bg-blue" lay-event="sys-edit-toolbar">
            <i class="layui-icon layui-icon-edit" lay-tips="修改"></i>
        </button>
        <button class="layui-btn layui-btn-sm layui-bg-red" lay-event="sys-delete-toolbar">
            <i class="layui-icon layui-icon-delete" lay-tips="删除"></i>
        </button>
        <!--button class="layui-btn layui-btn-sm layui-bg-orange" lay-event="sys-refresh-toolbar">
            <i class="layui-icon layui-icon-refresh" lay-tips="刷新"></i>
        </button-->
    </div>
</script>
<script type="text/html" id="sys-notice-tool">
    <button class="layui-btn layui-btn-xs layui-bg-blue" lay-event="sys-search-tool">
        <i class="layui-icon layui-icon-search" lay-tips="查看"></i>
    </button>
</script>
<script type="text/html" id="sys-title-tpl">
    <span lay-tips="{{ d.title }}">{{ d.title }}</span>
</script>
<script type="text/html" id="sys-disable-tpl">
    {{# if(d.disable){ }}
    <input type="checkbox" value="{{ d.id }}" data-json="{{ encodeURIComponent(JSON.stringify(d)) }}" title="启用|禁用" lay-skin="switch" lay-filter="sys-disable-switch">
    {{# }else{ }}
    <input type="checkbox" checked value="{{ d.id }}" data-json="{{ encodeURIComponent(JSON.stringify(d)) }}" title="启用|禁用" lay-skin="switch" lay-filter="sys-disable-switch">
    {{# } }}
</script>
<form class="layui-form" id="sys-notice-form" lay-filter="sys-notice-form" style="display: none;">
    <input type="hidden" id="id" name="id">
    <input type="hidden" id="disable" name="disable">
    <div class="layui-form-item">
        <label for="title"></label>
        <input type="text" id="title" name="title" lay-verify="required" placeholder="标题" lay-reqtext="请输入标题" autocomplete="off" class="layui-input" lay-affix="clear">
    </div>
    <div class="layui-form-item">
        <label for="content"></label>
        <textarea id="content" name="content" style="display: none;"></textarea>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="sys-notice-submit" id="sys-notice-submit" value="确认">
    </div>
</form>
<script th:src="@{/layui/layui.js}" src="../../static/layui/layui.js"></script>
<script th:inline="javascript">
    const config = {
        base:/*[[@{/}]]*/ '../../static/'
    }

    layui.config({
        base: config.base, version: true
    }).use(['index', 'common', 'layedit'], function () {

        let editor = layui.layedit.build('content', {height: 200, uploadImage: {url: `${config.base}sys/upload.json`}});

        layui.util.fixbar();

        layui.table.render({
            elem: '#sys-notice-table', skin: 'line'
            , url: `${config.base}sys/notice/all.json`
            , method: 'POST', contentType: "application/json;charset=UTF-8"
            , toolbar: '#sys-notice-toolbar'
            , cols: [
                [
                    {fixed: 'left', type: 'checkbox'}
                    , {field: 'title', title: '标题', minWidth: 200, templet: '#sys-title-tpl'}
                    , {field: 'disable', title: '状态', sort: true, align: 'center', minWidth: 90, maxWidth: 90, width: 90, templet: '#sys-disable-tpl'}
                    , {field: 'createUsername', title: '发布用户', sort: true, minWidth: 110, maxWidth: 110, width: 110}
                    , {field: 'createTimestamp', title: '发布时间', sort: true, minWidth: 120, maxWidth: 180, width: 180}
                    , {field: 'updateUsername', title: '修改用户', sort: true, minWidth: 110, maxWidth: 110, width: 110, hide: true}
                    , {field: 'updateTimestamp', title: '修改时间', sort: true, minWidth: 120, maxWidth: 180, width: 180, hide: true}
                    , {fixed: 'right', title: '操作', align: 'center', toolbar: '#sys-notice-tool', minWidth: 60, maxWidth: 60, width: 60}
                ]
            ]
            , page: true
            , where: {state: 'UNREAD', sort: {field: 'createTimestamp', order: 'desc'}}
            , initSort: {field: 'createTimestamp', type: 'desc'}
            , done: function (data) {
                if ('UNREAD' === layui.table.getOptions('sys-notice-table').where.state) {
                    if (data.count === 0) {
                        layui.tabs.change('sys-notice-tabs', 'all');
                    }
                }
                load(data);
            }
        });

        layui.admin.resize(function () {
            layui.common.asCols('sys-notice-table', ['createTimestamp', 'createUsername', 'disable']);
        });

        layui.table.on('checkbox(sys-notice-table)', function (data) {
            layui.table.setRowChecked('sys-notice-table', {index: 'all', checked: false});
            data.setRowChecked();
        });

        layui.table.on('sort(sys-notice-table)', function (data) {
            layui.table.reload('sys-notice-table', {
                where: {state: data.config.where.state, sort: {field: data.field, order: data.type}}
                , initSort: data
            });
        });

        layui.table.on('toolbar(sys-notice-table)', function (data) {
            if (data.event === 'sys-add-toolbar') {
                layui.$('#id').val('');
                layui.$('#sys-notice-form')[0].reset();
                save('创建通知公告', 'POST');
            }
            if (data.event === 'sys-edit-toolbar' || data.event === 'sys-delete-toolbar') {
                const notices = layui.table.checkStatus('sys-notice-table').data;
                if (notices.length <= 0) return layui.layer.msg("请选择一条纪录！");
                if (data.event === 'sys-edit-toolbar') {
                    layui.form.val('sys-notice-form', notices[0]);
                    save('修改通知公告', 'PUT');
                }
                if (data.event === 'sys-delete-toolbar') {
                    del(notices[0]);
                }
            }
            if (data.event === 'sys-refresh-toolbar') {
                layui.table.reload('sys-notice-table', {
                    done: function (data) {
                        load(data);
                    }
                });
            }
        });

        layui.table.on('tool(sys-notice-table)', function (data) {
            if (data.event === 'sys-search-tool') {
                layui.common.req(`${config.base}sys/notice/show.json`, 'POST', data.data.id, {
                    done: function (data) {
                        layui.laytpl(layui.$('#sys-notice-tpl').html()).render(data.data, function (html) {
                            layui.$('#sys-notice-show').html(html).show();
                            layui.$('#sys-notice-list').hide();
                            layui.$('#sys-notice-back').on('click', function () {
                                layui.$('#sys-notice-list').show();
                                layui.$('#sys-notice-show').hide();
                            });
                        });
                        layui.table.reload('sys-notice-table', {
                            done: function (data) {
                                load(data);
                            }
                        });
                    }
                });
            }
        });

        layui.form.on('switch(sys-disable-switch)', function (data) {
            const notice = JSON.parse(decodeURIComponent(layui.$(this).data('json')));
            layui.layer.confirm(`&ensp;&ensp;&ensp;&ensp;是否${data.elem.checked ? '启用' : '禁用'}通知公告？`, {
                title: `${data.elem.checked ? '启用' : '禁用'}`, closeBtn: 0, icon: 3, skin: 'layui-layer-admin'
            }, function (index) {
                layui.layer.close(index);
                notice.disable = !data.elem.checked;
                layui.common.req(`${config.base}sys/notice/update.json`, 'PUT', notice, {
                    done: function (data) {
                        layui.layer.msg(data.msg);
                    }
                    , complete: function () {
                        layui.table.reload('sys-notice-table', {
                            done: function (data) {
                                load(data);
                            }
                        });
                    }
                });
            }, function () {
                data.elem.checked = !data.elem.checked;
            });
        });

        layui.tabs.on('afterChange(sys-notice-tabs)', function (data) {
            layui.table.reload('sys-notice-table', {
                page: {curr: 1}
                , where: {
                    state: data.index === 0 ? 'UNREAD' :
                        data.index === 1 ? 'READ' :
                            data.index === 2 ? 'ME' :
                                data.index === 3 ? 'ALL' : 'ALL'
                    , sort: {field: 'createTimestamp', order: 'desc'}
                }
                , initSort: layui.table.getOptions('sys-notice-table').initSort
                , done: function (data) {
                    load(data);
                }
            });
        });

        function load(data) {
            if ('UNREAD' === layui.table.getOptions('sys-notice-table').where.state) {
                unRead(data.count);
            } else {
                layui.common.req(`${config.base}sys/notice/unRead.json`, 'GET', null, {
                    done: function (data) {
                        unRead(data.data);
                    }
                });
            }
        }

        function unRead(count) {
            layui.$('#sys-notice-unread')
                .attr('class', `${count > 0 ? 'layui-badge' : ''}`)
                .text(`${count > 0 ? count > 99 ? '99+' : count : ''}`);
            parent.layui.$('#sys-notice-unread')
                .attr('class', `${count > 0 ? 'layui-badge' : ''}`)
                .text(`${count > 0 ? count > 99 ? '99+' : count : ''}`);
        }

        function save(title, type) {
            layui.admin.popup({
                type: 1, title: title, area: 'auto'
                , content: layui.$('#sys-notice-form')
                , btn: ['确定', '取消']
                , yes: function (index) {
                    layui.form.on('submit(sys-notice-submit)', function (data) {
                        data.field.content = layui.layedit.getContent(editor);
                        layui.layer.close(index);
                        layui.common.req(`${config.base}sys/notice/${type === 'POST' ? 'create.json' : 'update.json'}`, type, data.field, {
                            done: function (data) {
                                layui.layer.msg(data.msg);
                                layui.table.reload('sys-notice-table', {
                                    done: function (data) {
                                        load(data);
                                    }
                                });
                            }
                        });
                    });
                    layui.$('#sys-notice-submit').trigger('click');
                }
                , success: function () {
                    editor = layui.layedit.build('content', {height: 200, uploadImage: {url: `${config.base}sys/upload.json`}});
                }
            });
        }

        function del(notice) {
            layui.layer.confirm(`&ensp;&ensp;&ensp;&ensp;是否删除通知公告？`, {
                title: '删除通知公告', closeBtn: 0, icon: 3, skin: 'layui-layer-admin'
            }, function (index) {
                layui.layer.close(index);
                layui.common.req(`${config.base}sys/notice/delete.json`, 'DELETE', notice.id, {
                    done: function (data) {
                        layui.layer.msg(data.msg);
                        layui.table.reload('sys-notice-table', {
                            done: function (data) {
                                load(data);
                            }
                        });
                    }
                });
            });
        }

    });
</script>
</body>
</html>