<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title th:text="|${config.name} v${config.version}|">WEB-ADMIN-PRO</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" href="../../static/favicon.ico"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="../../static/layui/css/layui.css" media="all">
    <link rel="stylesheet" th:href="@{/admin-ui/css/admin.css}" href="../../static/admin-ui/css/admin.css" media="all">
</head>
<body class="layui-fluid">
<div class="layui-card">
    <div class="layui-card-header">角色管理</div>
    <div class="layui-card-body">
        <table class="layui-hide" id="sys-role-table" lay-filter="sys-role-table"></table>
    </div>
</div>
<script type="text/html" id="sys-role-remark">
    <span lay-tips="{{d.remark?d.remark:d.name}}">{{d.name}}</span>
</script>
<script type="text/html" id="sys-role-disable">
    {{# if(d.disable){ }}
    <input type="checkbox" value="{{ d.id }}" data-json="{{ encodeURIComponent(JSON.stringify(d)) }}" title="启用|禁用" lay-skin="switch" lay-filter="sys-disable-switch">
    {{# }else{ }}
    <input type="checkbox" checked value="{{ d.id }}" data-json="{{ encodeURIComponent(JSON.stringify(d)) }}" title="启用|禁用" lay-skin="switch" lay-filter="sys-disable-switch">
    {{# } }}
</script>
<script type="text/html" id="sys-role-toolbar">
    <div class="layui-btn-group">
        <button class="layui-btn layui-btn-sm" lay-event="sys-add-toolbar">
            <i class="layui-icon layui-icon-add-1" lay-tips="创建"></i>
        </button>
        <button class="layui-btn layui-btn-sm layui-bg-blue" lay-event="sys-edit-toolbar">
            <i class="layui-icon layui-icon-edit" lay-tips="修改"></i>
        </button>
        <button class="layui-btn layui-btn-sm layui-bg-red" lay-event="sys-delete-toolbar">
            <i class="layui-icon layui-icon-delete" lay-tips="删除"></i>
        </button>
        <!--button class="layui-btn layui-btn-sm layui-bg-orange" lay-event="sys-refresh-toolbar">
            <i class="layui-icon layui-icon-refresh" lay-tips="刷新"></i>
        </button-->
    </div>
</script>
<script type="text/html" id="sys-role-tool">
    <div class="layui-btn-group">
        <button class="layui-btn layui-btn-xs layui-bg-blue" lay-event="sys-edit-tool">
            <i class="layui-icon layui-icon-edit" lay-tips="修改"></i>
        </button>
        <button class="layui-btn layui-btn-xs layui-bg-red" lay-event="sys-delete-tool">
            <i class="layui-icon layui-icon-delete" lay-tips="删除"></i>
        </button>
        <button class="layui-btn layui-btn-xs" lay-event="sys-more-tool">
            <i class="layui-icon layui-icon-more-vertical" lay-tips="更多"></i>
        </button>
    </div>
</script>
<form class="layui-form" id="sys-role-form" lay-filter="sys-role-form" style="display: none;">
    <input type="hidden" id="id" name="id">
    <div class="layui-form-item">
        <label class="layui-form-label" for="name">角色名称</label>
        <div class="layui-input-block">
            <input type="text" id="name" name="name" lay-verify="required" placeholder="角色名称" lay-reqtext="请输入角色名称" autocomplete="off" class="layui-input" lay-affix="clear">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" for="remark">角色备注</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea" id="remark" name="remark" placeholder="角色备注" lay-affix="clear"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">角色状态</label>
        <div class="layui-input-block">
            <input type="checkbox" checked id="disable" name="disable" title="启用|禁用" lay-skin="switch">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">角色菜单</label>
        <div class="layui-input-block" id="sys-menu"></div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="sys-role-submit" id="sys-role-submit" value="确认">
    </div>
</form>
<script th:src="@{/layui/layui.js}" src="../../static/layui/layui.js"></script>
<script th:src="@{/modules/xm-select.js}" src="../../static/modules/xm-select.js"></script>
<script th:inline="javascript">
    const config = {
        base:/*[[@{/}]]*/ '../../static/'
    }

    layui.config({
        base: config.base, version: true
    }).use(['index', 'common'], function () {

        layui.table.render({
            elem: '#sys-role-table'
            , url: `${config.base}sys/role/all.json`
            , toolbar: '#sys-role-toolbar'
            , cols: [
                [
                    {fixed: 'left', type: 'checkbox'}
                    , {field: 'name', title: '名称', minWidth: 160, templet: '#sys-role-remark'}
                    , {field: 'disable', title: '状态', align: 'center', minWidth: 90, maxWidth: 90, width: 90, templet: '#sys-role-disable'}
                    , {field: 'createUsername', title: '创建用户', minWidth: 110, maxWidth: 110, width: 110, hide: true}
                    , {field: 'createTimestamp', title: '创建时间', minWidth: 120, maxWidth: 180, width: 180, hide: true}
                    , {field: 'updateUsername', title: '修改用户', minWidth: 110, maxWidth: 110, width: 110, hide: true}
                    , {field: 'updateTimestamp', title: '修改时间', minWidth: 120, maxWidth: 180, width: 180, hide: true}
                    , {field: 'remark', title: '备注', hide: true}
                    , {fixed: 'right', title: '操作', align: 'center', toolbar: '#sys-role-tool', minWidth: 120, maxWidth: 120, width: 120}
                ]
            ]
            , done: function () {
                layui.common.asCols(this);
            }
        });

        layui.table.on('checkbox(sys-role-table)', function (data) {
            layui.table.setRowChecked('sys-role-table', {index: 'all', checked: false});
            data.setRowChecked();
        });

        layui.form.on('switch(sys-disable-switch)', function (data) {
            const role = JSON.parse(decodeURIComponent(layui.$(this).data('json')));
            layui.layer.confirm(`&ensp;&ensp;&ensp;&ensp;是否${data.elem.checked ? '启用' : '禁用'}【${role.name}】角色？`, {
                title: `${data.elem.checked ? '启用' : '禁用'}`, closeBtn: 0, icon: 3, skin: 'layui-layer-admin'
            }, function (index) {
                layui.layer.close(index);
                role.disable = !data.elem.checked;
                layui.common.req(`${config.base}sys/role/update.json`, 'PUT', role, {
                    done: function (data) {
                        layui.layer.msg(data.msg);
                    }
                    , always: function () {
                        layui.table.reload('sys-role-table');
                    }
                });
            }, function () {
                data.elem.checked = !data.elem.checked;
            });
        });

        layui.table.on('toolbar(sys-role-table)', function (data) {
            if (data.event === 'sys-add-toolbar') {
                layui.$('#id').val('');
                layui.$('#sys-role-form')[0].reset();
                load(function () {
                    xmSelect.get('#sys-menu', true).setValue([]);
                    save('创建角色', 'POST');
                });
            }
            if (data.event === 'sys-edit-toolbar' || data.event === 'sys-delete-toolbar') {
                const roles = layui.table.checkStatus('sys-role-table').data;
                if (roles.length <= 0) return layui.layer.msg("请选择一条纪录！");
                if (data.event === 'sys-edit-toolbar') {
                    roles[0].disable = !roles[0].disable;
                    layui.form.val('sys-role-form', roles[0]);
                    load(function () {
                        xmSelect.get('#sys-menu', true).setValue(roles[0].menus ? roles[0].menus : []);
                        save('修改角色', 'PUT');
                    });
                }
                if (data.event === 'sys-delete-toolbar') {
                    del(roles[0]);
                }
            }
            if (data.event === 'sys-refresh-toolbar') {
                layui.table.reload('sys-role-table');
            }
        });

        layui.table.on('tool(sys-role-table)', function (data) {
            if (data.event === 'sys-edit-tool') {
                data.data.disable = !data.data.disable;
                layui.form.val('sys-role-form', data.data);
                load(function () {
                    xmSelect.get('#sys-menu', true).setValue(data.data.menus ? data.data.menus : []);
                    save('修改角色', 'PUT');
                });
            }
            if (data.event === 'sys-delete-tool') {
                del(data.data);
            }
            if (data.event === 'sys-more-tool') {
                const id = data.data.id;
                layui.dropdown.render({
                    elem: this, show: true
                    , data: [{id: 'UP', title: '上移'}, {id: 'DOWN', title: '下移'}]
                    , click: function (data) {
                        if (data.id === 'UP' || data.id === 'DOWN') {
                            layui.common.req(`${config.base}sys/role/move.json`, 'PUT', {
                                id: id, move: data.id
                            }, {
                                done: function (data) {
                                    layui.layer.msg(data.msg);
                                    layui.table.reload('sys-role-table');
                                }
                            });
                        }
                    }
                });
            }
        });

        function load(callback) {
            layui.common.req(`${config.base}sys/menu/all.json`, 'GET', null, {
                done: function (data) {
                    xmSelect.render({
                        el: '#sys-menu', direction: 'up', autoRow: false
                        , data: layui.lay.flatToTree(data.data, {parentKey: 'pid'})
                        , tree: {show: true, strict: false}
                        , prop: {name: 'title', value: 'id',}
                        , model: {label: {type: 'block', block: {showCount: 1}}}
                        , theme: {color: '#16b777'}
                    });
                    typeof callback === 'function' && callback();
                }
            });
        }

        function save(title, type) {
            layui.admin.popup({
                type: 1, title: title, area: 'auto'
                , content: layui.$('#sys-role-form')
                , btn: ['确定', '取消']
                , yes: function (index) {
                    layui.form.on('submit(sys-role-submit)', function (data) {
                        data.field.disable = data.field.disable !== 'on';
                        data.field.menus = xmSelect.get('#sys-menu', true).getValue();
                        layui.layer.close(index);
                        layui.common.req(`${config.base}sys/role/${type === 'POST' ? 'create.json' : 'update.json'}`, type, data.field, {
                            done: function (data) {
                                layui.layer.msg(data.msg);
                                layui.table.reload('sys-role-table');
                            }
                        });
                    });
                    layui.$('#sys-role-submit').trigger('click');
                }
            });
        }

        function del(role) {
            layui.layer.confirm(`&ensp;&ensp;&ensp;&ensp;是否删除【${role.name}】角色？`, {
                title: '删除角色', closeBtn: 0, icon: 3, skin: 'layui-layer-admin'
            }, function (index) {
                layui.layer.close(index);
                layui.common.req(`${config.base}sys/role/delete.json`, 'DELETE', role.id, {
                    done: function (data) {
                        layui.layer.msg(data.msg);
                        layui.table.reload('sys-role-table');
                    }
                });
            });
        }

    });
</script>
</body>
</html>