<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="utf-8">
    <title th:text="|${config.title} v${config.version}|">WEB-ADMIN-PRO</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" href="../../static/favicon.ico"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="../../static/layui/css/layui.css" media="all">
    <link rel="stylesheet" th:href="@{/admin-ui/css/admin.css}" href="../../static/admin-ui/css/admin.css" media="all">
</head>
<body class="layui-fluid">
<div class="layui-card">
    <div class="layui-card-header">用户管理</div>
    <div class="layui-card-body">
        <table class="layui-hide" id="sys-user-table" lay-filter="sys-user-table"></table>
    </div>
</div>
<script type="text/html" id="sys-username-tpl">
    {{# if(d.avatar){ }}
    <img class="layui-nav-img" src="{{ d.avatar }}" lay-tips="{{ d.remark?d.remark:d.username }}" alt="">
    {{# }else{ }}
    <img class="layui-nav-img" th:src="@{/style/imgs/logo.jpg}" lay-tips="{{ d.remark?d.remark:d.username }}" alt="" src="">
    {{# } }}
    {{ d.username }}
</script>
<script type="text/html" id="sys-admin-tpl">
    {{# if(d.sysAdmin){ }}
    <input type="checkbox" checked value="{{ d.id }}" data-json="{{ encodeURIComponent(JSON.stringify(d)) }}" title="是|否" lay-skin="switch" lay-filter="sys-admin-switch">
    {{# }else{ }}
    <input type="checkbox" value="{{ d.id }}" data-json="{{ encodeURIComponent(JSON.stringify(d)) }}" title="是|否" lay-skin="switch" lay-filter="sys-admin-switch">
    {{# } }}
</script>
<script type="text/html" id="sys-disable-tpl">
    {{# if(d.disable){ }}
    <input type="checkbox" value="{{ d.id }}" data-json="{{ encodeURIComponent(JSON.stringify(d)) }}" title="启用|禁用" lay-skin="switch" lay-filter="sys-disable-switch">
    {{# }else{ }}
    <input type="checkbox" checked value="{{ d.id }}" data-json="{{ encodeURIComponent(JSON.stringify(d)) }}" title="启用|禁用" lay-skin="switch" lay-filter="sys-disable-switch">
    {{# } }}
</script>
<script type="text/html" id="sys-user-toolbar">
    <div class="layui-btn-group">
        <button class="layui-btn layui-btn-sm" lay-event="sys-add-toolbar">
            <i class="layui-icon layui-icon-add-1"></i>创建
        </button>
        <button class="layui-btn layui-btn-sm layui-bg-blue" lay-event="sys-edit-toolbar">
            <i class="layui-icon layui-icon-edit"></i>修改
        </button>
        <button class="layui-btn layui-btn-sm layui-bg-red" lay-event="sys-delete-toolbar">
            <i class="layui-icon layui-icon-delete"></i>删除
        </button>
        <button class="layui-btn layui-btn-sm layui-bg-orange" lay-event="sys-refresh-toolbar">
            <i class="layui-icon layui-icon-refresh"></i>刷新
        </button>
    </div>
    <button class="layui-btn layui-btn-sm layui-bg-black" lay-event="sys-release-toolbar">
        <i class="layui-icon layui-icon-password"></i>重置密码
    </button>
</script>
<script type="text/html" id="sys-user-tool">
    <div class="layui-btn-group">
        <button class="layui-btn layui-btn-xs layui-bg-blue" lay-event="sys-edit-tool">
            <i class="layui-icon layui-icon-edit"></i>
        </button>
        <button class="layui-btn layui-btn-xs layui-bg-red" lay-event="sys-delete-tool">
            <i class="layui-icon layui-icon-delete"></i>
        </button>
    </div>
</script>
<form class="layui-form" id="sys-user-form" lay-filter="sys-user-form" style="display: none;">
    <input type="hidden" id="id" name="id">
    <div class="layui-form-item" id="sys-user">
        <label class="layui-form-label" for="username">用户名称</label>
        <div class="layui-input-block">
            <input type="text" id="username" name="username" lay-verify="required" placeholder="用户名称" lay-reqtext="请输入用户名称" autocomplete="off" class="layui-input" lay-affix="clear">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" for="mobile">手机号码</label>
        <div class="layui-input-block">
            <input type="text" id="mobile" name="mobile" value="" lay-verify="required|phone" placeholder="手机号码" lay-reqtext="请输入手机号码" autocomplete="off" class="layui-input" lay-affix="clear">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" for="email">邮箱地址</label>
        <div class="layui-input-block">
            <input type="text" id="email" name="email" value="" lay-verify="required|email" placeholder="邮箱地址" lay-reqtext="请输入邮箱地址" autocomplete="off" class="layui-input" lay-affix="clear">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" for="remark">用户备注</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea" id="remark" name="remark" placeholder="用户备注"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">用户状态</label>
            <div class="layui-input-block">
                <input type="checkbox" checked id="disable" name="disable" title="启用|禁用" lay-skin="switch">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">管理员</label>
            <div class="layui-input-block">
                <input type="checkbox" id="sysAdmin" name="sysAdmin" title="是|否" lay-skin="switch">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户角色</label>
        <div class="layui-input-block" id="sys-role"></div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="sys-user-submit" id="sys-user-submit" value="确认">
    </div>
</form>
<script th:src="@{/layui/layui.js}" src="../../static/layui/layui.js"></script>
<script th:src="@{/modules/xm-select.js}" src="../../static/modules/xm-select.js"></script>
<script th:inline="javascript">
    const config = {
        base:/*[[@{/}]]*/ '../../static/'
    }

    layui.config({
        base: config.base, version: true
    }).use(['index', 'common'], function () {

        layui.table.render({
            elem: '#sys-user-table', skin: 'line'
            , url: `${config.base}sys/user/all.json`
            , method: 'POST', contentType: "application/json;charset=UTF-8"
            , toolbar: '#sys-user-toolbar'
            , cols: [
                [
                    {fixed: 'left', type: 'checkbox'}
                    , {field: 'username', title: '用户', sort: true, minWidth: 120, templet: '#sys-username-tpl'}
                    , {field: 'mobile', title: '手机', sort: true, minWidth: 130}
                    , {field: 'email', title: '邮箱', sort: true, minWidth: 180}
                    , {field: 'sysAdmin', title: '管理', sort: true, align: 'center', minWidth: 90, maxWidth: 90, width: 90, templet: '#sys-admin-tpl'}
                    , {field: 'disable', title: '状态', sort: true, align: 'center', minWidth: 90, maxWidth: 90, width: 90, templet: '#sys-disable-tpl'}
                    , {field: 'createUsername', title: '创建用户', sort: true, minWidth: 110, maxWidth: 110, width: 110, hide: true}
                    , {field: 'createTimestamp', title: '创建时间', sort: true, minWidth: 120, maxWidth: 180, width: 180, hide: true}
                    , {field: 'updateUsername', title: '修改用户', sort: true, minWidth: 110, maxWidth: 110, width: 110, hide: true}
                    , {field: 'updateTimestamp', title: '修改时间', sort: true, minWidth: 120, maxWidth: 180, width: 180, hide: true}
                    , {field: 'remark', title: '备注', hide: true}
                    , {fixed: 'right', title: '操作', align: 'center', toolbar: '#sys-user-tool', minWidth: 90, maxWidth: 90, width: 90}
                ]
            ]
            , page: true
        });

        layui.admin.resize(function () {
            layui.common.asCols('sys-user-table', ['sysAdmin', 'disable', 'mobile', 'email']);
        });

        layui.table.on('checkbox(sys-user-table)', function (data) {
            layui.table.setRowChecked('sys-user-table', {index: 'all', checked: false});
            data.setRowChecked();
        });

        layui.table.on('sort(sys-user-table)', function (data) {
            layui.table.reload('sys-user-table', {
                initSort: data, where: {sort: {field: data.field, order: data.type}}
            });
        });

        layui.table.on('toolbar(sys-user-table)', function (data) {
            if (data.event === 'sys-add-toolbar') {
                layui.$('#id').val('');
                layui.$('#sys-user-form')[0].reset();
                layui.$('#sys-user').show();
                load(function () {
                    xmSelect.get('#sys-role', true).setValue([]);
                    save('创建用户', 'POST');
                });
            }
            if (data.event === 'sys-edit-toolbar' || data.event === 'sys-delete-toolbar' || data.event === 'sys-release-toolbar') {
                const users = layui.table.checkStatus('sys-user-table').data;
                if (users.length <= 0) {
                    layui.layer.msg("请选择一条纪录！");
                } else {
                    if (data.event === 'sys-edit-toolbar') {
                        users[0].disable = !users[0].disable;
                        layui.form.val('sys-user-form', users[0]);
                        layui.$('#sys-user').hide();
                        load(function () {
                            xmSelect.get('#sys-role', true).setValue(users[0].roles ? users[0].roles : []);
                            save('修改用户', 'PUT');
                        });
                    }
                    if (data.event === 'sys-delete-toolbar') {
                        del(users[0]);
                    }
                    if (data.event === 'sys-release-toolbar') {
                        layui.layer.confirm(`&ensp;&ensp;&ensp;&ensp;是否重置【${users[0].username}】用户密码？`, {
                            title: '重置密码', closeBtn: 0, icon: 3, skin: 'layui-layer-admin'
                        }, function (index) {
                            layui.layer.close(index);
                            layui.common.req(`${config.base}sys/user/reset.json`, 'PUT', users[0].id, {
                                done: function (data) {
                                    layui.layer.msg(data.msg);
                                }
                            });
                        });
                    }
                }
            }
            if (data.event === 'sys-refresh-toolbar') {
                layui.table.reload('sys-user-table');
            }
        });

        layui.table.on('tool(sys-user-table)', function (data) {
            if (data.event === 'sys-edit-tool') {
                data.data.disable = !data.data.disable;
                layui.form.val('sys-user-form', data.data);
                layui.$('#sys-user').hide();
                load(function () {
                    xmSelect.get('#sys-role', true).setValue(data.data.roles ? data.data.roles : []);
                    save('修改用户', 'PUT');
                });
            }
            if (data.event === 'sys-delete-tool') {
                del(data.data);
            }
        });

        layui.form.on('switch(sys-admin-switch)', function (data) {
            const user = JSON.parse(decodeURIComponent(layui.$(this).data('json')));
            layui.layer.confirm(`&ensp;&ensp;&ensp;&ensp;是否${data.elem.checked ? '设置' : '取消'}【${user.username}】用户为管理员？`, {
                title: '管理员', closeBtn: 0, icon: 3, skin: 'layui-layer-admin'
            }, function (index) {
                layui.layer.close(index);
                user.sysAdmin = data.elem.checked;
                layui.common.req(`${config.base}sys/user/update.json`, 'PUT', user, {
                    done: function (data) {
                        layui.layer.msg(data.msg);
                    }
                    , complete: function () {
                        layui.table.reload('sys-user-table');
                    }
                });
            }, function () {
                data.elem.checked = !data.elem.checked;
            });
        });

        layui.form.on('switch(sys-disable-switch)', function (data) {
            const user = JSON.parse(decodeURIComponent(layui.$(this).data('json')));
            layui.layer.confirm(`&ensp;&ensp;&ensp;&ensp;是否${data.elem.checked ? '启用' : '禁用'}【${user.username}】用户？`, {
                title: `${data.elem.checked ? '启用' : '禁用'}`, closeBtn: 0, icon: 3, skin: 'layui-layer-admin'
            }, function (index) {
                layui.layer.close(index);
                user.disable = !data.elem.checked;
                layui.common.req(`${config.base}sys/user/update.json`, 'PUT', user, {
                    done: function (data) {
                        layui.layer.msg(data.msg);
                    }
                    , complete: function () {
                        layui.table.reload('sys-user-table');
                    }
                });
            }, function () {
                data.elem.checked = !data.elem.checked;
            });
        });

        function load(callback) {
            layui.common.req(`${config.base}sys/role/all.json`, 'GET', null, {
                done: function (data) {
                    xmSelect.render({
                        el: '#sys-role', direction: 'up', autoRow: false
                        , data: data.data
                        , prop: {name: 'name', value: 'id',}
                        , model: {label: {type: 'block', block: {showCount: 1}}}
                        , theme: {color: '#16b777'}
                    });
                    typeof callback === 'function' && callback();
                }
            });
        }

        function save(title, type) {
            layui.admin.popup({
                type: 1, title: title, area: 'auto'
                , content: layui.$('#sys-user-form')
                , btn: ['确定', '取消']
                , yes: function (index) {
                    layui.form.on('submit(sys-user-submit)', function (data) {
                        data.field.sysAdmin = data.field.sysAdmin === 'on';
                        data.field.disable = data.field.disable !== 'on';
                        data.field.roles = xmSelect.get('#sys-role', true).getValue();
                        layui.layer.close(index);
                        layui.common.req(`${config.base}sys/user/${type === 'POST' ? 'create.json' : 'update.json'}`, type, data.field, {
                            done: function (data) {
                                layui.layer.msg(data.msg);
                                layui.table.reload('sys-user-table');
                            }
                        });
                    });
                    layui.$('#sys-user-submit').trigger('click');
                }
            });
        }

        function del(user) {
            layui.layer.confirm(`&ensp;&ensp;&ensp;&ensp;是否删除【${user.username}】用户？`, {
                title: '删除用户', closeBtn: 0, icon: 3, skin: 'layui-layer-admin'
            }, function (index) {
                layui.layer.close(index);
                layui.common.req(`${config.base}sys/user/delete.json`, 'DELETE', user.id, {
                    done: function (data) {
                        layui.layer.msg(data.msg);
                        layui.table.reload('sys-user-table');
                    }
                });
            });
        }

    });
</script>
</body>
</html>