<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>头像</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="../../favicon.ico"/>
    <link rel="stylesheet" href="../../layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../admin-ui/css/admin.css" media="all">
    <style>
        #LAY-component-grid-speed-dial .layui-card-body {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            font-size: 20px;
        }

        #LAY-component-grid-speed-dial .layui-card-body:hover {
            background-color: #FAFAFA;
        }
    </style>
</head>
<body>
<div class="layui-fluid" id="LAY-component-grid-speed-dial">
    <div class="layui-row layui-col-space1">
        <div class="layui-col-xs4">
            <div class="layui-card">
                <div class="layui-card-body">
                    <img src="../../style/imgs/avatar/default_beauty.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="layui-col-xs4">
            <div class="layui-card">
                <div class="layui-card-body">
                    <img src="../../style/imgs/avatar/default_colleagues.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="layui-col-xs4">
            <div class="layui-card">
                <div class="layui-card-body">
                    <img src="../../style/imgs/avatar/default_family.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="layui-col-xs4">
            <div class="layui-card">
                <div class="layui-card-body">
                    <img src="../../style/imgs/avatar/default_friend.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="layui-col-xs4">
            <div class="layui-card">
                <div class="layui-card-body">
                    <img src="../../style/imgs/avatar/default_handsome.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="layui-col-xs4">
            <div class="layui-card">
                <div class="layui-card-body">
                    <img src="../../style/imgs/avatar/default_trade.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../layui/layui.js"></script>
<script>
    layui.config({
        base: '../../'
        , version: true
    }).use(['index'], function () {
        layui.$('img').on('click', function () {
            parent.layui.$('#sys-avatar').attr('src', layui.$(this).attr('src'));
            parent.parent.layui.$('#sys-avatar').attr('src', layui.$(this).attr('src'));
            parent.layui.layer.close('sys-avatar');
        });
    });
</script>
</body>
</html>
