<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>头像</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="../../favicon.ico"/>
    <link rel="stylesheet" href="../../layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../admin-ui/css/admin.css" media="all">
    <style>
        .ws-docs-icon > div .layui-icon {
            display: inline-block;
            font-size: 36px;
        }

        .layui-icon {
            font-size: 16px;
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            font-family: layui-icon, serif !important;
        }

        .ws-docs-icon {
            margin-bottom: 16px;
            font-size: 0;
        }

        .ws-docs-icon > div {
            display: inline-block;
            vertical-align: middle;
            width: 16.5%;
            height: 50px;
            line-height: 25px;
            margin-right: -1px;
            margin-bottom: -1px;
            font-size: 14px;
            text-align: center;
            color: rgb(119, 119, 119);
            cursor: pointer;
            padding: 20px 0;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(226, 226, 226);
            border-image: initial;
            transition: 0.3s;
        }
    </style>
</head>
<body class="layui-fluid">
<div class="layui-card">
    <div class="layui-card-body">
        <div class="ws-docs-icon">
            <div>
                <i class="layui-icon layui-icon-bot"></i>
                <div class="docs-icon-name">机器人</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-leaf"></i>
                <div class="docs-icon-name">叶子节点</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-folder" style="font-size: 32px;"></i>
                <div class="docs-icon-name">文件夹</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-folder-open" style="font-size: 32px;"></i>
                <div class="docs-icon-name">文件夹打开</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-gitee"></i>
                <div class="docs-icon-name">Gitee</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-github"></i>
                <div class="docs-icon-name">Github</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-light"></i>
                <div class="docs-icon-name">太阳/明亮</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-moon"></i>
                <div class="docs-icon-name">月亮</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-error"></i>
                <div class="docs-icon-name">错误</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-success"></i>
                <div class="docs-icon-name">成功</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-question"></i>
                <div class="docs-icon-name">问号</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-lock"></i>
                <div class="docs-icon-name">锁定</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-eye"></i>
                <div class="docs-icon-name">显示</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-eye-invisible"></i>
                <div class="docs-icon-name">隐藏</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-clear"></i>
                <div class="docs-icon-name">清空/删除</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-backspace"></i>
                <div class="docs-icon-name">退格</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-disabled"></i>
                <div class="docs-icon-name">禁用</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-tips-fill"></i>
                <div class="docs-icon-name">感叹号/提示</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-test"></i>
                <div class="docs-icon-name">测试/K线图</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-music"></i>
                <div class="docs-icon-name">音乐/音符</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-chrome"></i>
                <div class="docs-icon-name">Chrome</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-firefox"></i>
                <div class="docs-icon-name">Firefox</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-edge"></i>
                <div class="docs-icon-name">Edge</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-ie"></i>
                <div class="docs-icon-name">IE</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-heart-fill"></i>
                <div class="docs-icon-name">实心</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-heart"></i>
                <div class="docs-icon-name">空心</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-time"></i>
                <div class="docs-icon-name">时间/历史</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-at"></i>
                <div class="docs-icon-name">@艾特</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-email"></i>
                <div class="docs-icon-name">邮箱</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-rss"></i>
                <div class="docs-icon-name">RSS</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-sound"></i>
                <div class="docs-icon-name">声音</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-mute"></i>
                <div class="docs-icon-name">静音</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-mike"></i>
                <div class="docs-icon-name">录音/麦克风</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-key"></i>
                <div class="docs-icon-name">密钥/钥匙</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-gift"></i>
                <div class="docs-icon-name">礼物/活动</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-bluetooth"></i>
                <div class="docs-icon-name">蓝牙</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-wifi"></i>
                <div class="docs-icon-name">WiFi</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-logout"></i>
                <div class="docs-icon-name">退出/注销</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-android"></i>
                <div class="docs-icon-name">Android 安卓</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-ios"></i>
                <div class="docs-icon-name">Apple IOS 苹果</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-windows"></i>
                <div class="docs-icon-name">Windows</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-transfer"></i>
                <div class="docs-icon-name">穿梭框</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-service"></i>
                <div class="docs-icon-name">客服</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-subtraction"></i>
                <div class="docs-icon-name">减</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-addition"></i>
                <div class="docs-icon-name">加</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-slider"></i>
                <div class="docs-icon-name">滑块</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-print"></i>
                <div class="docs-icon-name">打印</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-export"></i>
                <div class="docs-icon-name">导出</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-cols"></i>
                <div class="docs-icon-name">列</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-screen-restore"></i>
                <div class="docs-icon-name">退出全屏</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-screen-full"></i>
                <div class="docs-icon-name">全屏</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-rate-half"></i>
                <div class="docs-icon-name">半星</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-rate"></i>
                <div class="docs-icon-name">星星-空心</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-rate-solid"></i>
                <div class="docs-icon-name">星星-实心</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-cellphone"></i>
                <div class="docs-icon-name">手机</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-vercode"></i>
                <div class="docs-icon-name">验证码</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-login-wechat"></i>
                <div class="docs-icon-name">微信</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-login-qq"></i>
                <div class="docs-icon-name">QQ</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-login-weibo"></i>
                <div class="docs-icon-name">微博</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-password"></i>
                <div class="docs-icon-name">密码</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-username"></i>
                <div class="docs-icon-name">用户名</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-refresh-3"></i>
                <div class="docs-icon-name">刷新-粗</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-auz"></i>
                <div class="docs-icon-name">授权</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-spread-left"></i>
                <div class="docs-icon-name">左向右伸缩菜单</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-shrink-right"></i>
                <div class="docs-icon-name">右向左伸缩菜单</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-snowflake"></i>
                <div class="docs-icon-name">雪花</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-tips"></i>
                <div class="docs-icon-name">提示说明</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-note"></i>
                <div class="docs-icon-name">便签</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-home"></i>
                <div class="docs-icon-name">主页</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-senior"></i>
                <div class="docs-icon-name">高级</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-refresh"></i>
                <div class="docs-icon-name">刷新</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-refresh-1"></i>
                <div class="docs-icon-name">刷新</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-flag"></i>
                <div class="docs-icon-name">旗帜</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-theme"></i>
                <div class="docs-icon-name">主题</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-notice"></i>
                <div class="docs-icon-name">消息-通知</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-website"></i>
                <div class="docs-icon-name">网站</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-console"></i>
                <div class="docs-icon-name">控制台</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-face-surprised"></i>
                <div class="docs-icon-name">表情-惊讶</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-set"></i>
                <div class="docs-icon-name">设置-空心</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-template-1"></i>
                <div class="docs-icon-name">模板</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-app"></i>
                <div class="docs-icon-name">应用</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-template"></i>
                <div class="docs-icon-name">模板</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-praise"></i>
                <div class="docs-icon-name">赞</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-tread"></i>
                <div class="docs-icon-name">踩</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-male"></i>
                <div class="docs-icon-name">男</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-female"></i>
                <div class="docs-icon-name">女</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-camera"></i>
                <div class="docs-icon-name">相机-空心</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-camera-fill"></i>
                <div class="docs-icon-name">相机-实心</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-more"></i>
                <div class="docs-icon-name">菜单-水平</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-more-vertical"></i>
                <div class="docs-icon-name">菜单-垂直</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-rmb"></i>
                <div class="docs-icon-name">金额-人民币</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-dollar"></i>
                <div class="docs-icon-name">金额-美元</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-diamond"></i>
                <div class="docs-icon-name">钻石-等级</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-fire"></i>
                <div class="docs-icon-name">火</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-return"></i>
                <div class="docs-icon-name">返回</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-location"></i>
                <div class="docs-icon-name">位置-地图</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-read"></i>
                <div class="docs-icon-name">办公-阅读</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-survey"></i>
                <div class="docs-icon-name">调查</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-face-smile"></i>
                <div class="docs-icon-name">表情-微笑</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-face-cry"></i>
                <div class="docs-icon-name">表情-哭泣</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-cart-simple"></i>
                <div class="docs-icon-name">购物车</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-cart"></i>
                <div class="docs-icon-name">购物车</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-next"></i>
                <div class="docs-icon-name">下一页</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-prev"></i>
                <div class="docs-icon-name">上一页</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-upload-drag"></i>
                <div class="docs-icon-name">上传-空心-拖拽</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-upload"></i>
                <div class="docs-icon-name">上传-实心</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-download-circle"></i>
                <div class="docs-icon-name">下载-圆圈</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-component"></i>
                <div class="docs-icon-name">组件</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-file-b"></i>
                <div class="docs-icon-name">文件-粗</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-user"></i>
                <div class="docs-icon-name">用户</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-find-fill"></i>
                <div class="docs-icon-name">发现-实心</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i>
                <div class="docs-icon-name">loading</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-loading-1 layui-anim layui-anim-rotate layui-anim-loop"></i>
                <div class="docs-icon-name">loading</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-add-1"></i>
                <div class="docs-icon-name">添加</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-play"></i>
                <div class="docs-icon-name">播放</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-pause"></i>
                <div class="docs-icon-name">暂停</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-headset"></i>
                <div class="docs-icon-name">音频-耳机</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-video"></i>
                <div class="docs-icon-name">视频</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-voice"></i>
                <div class="docs-icon-name">语音-声音</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-speaker"></i>
                <div class="docs-icon-name">消息-通知-喇叭</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-fonts-del"></i>
                <div class="docs-icon-name">删除线</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-fonts-code"></i>
                <div class="docs-icon-name">代码</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-fonts-html"></i>
                <div class="docs-icon-name">HTML</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-fonts-strong"></i>
                <div class="docs-icon-name">字体加粗</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-unlink"></i>
                <div class="docs-icon-name">删除链接</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-picture"></i>
                <div class="docs-icon-name">图片</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-link"></i>
                <div class="docs-icon-name">链接</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-face-smile-b"></i>
                <div class="docs-icon-name">表情-笑-粗</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-align-left"></i>
                <div class="docs-icon-name">左对齐</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-align-right"></i>
                <div class="docs-icon-name">右对齐</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-align-center"></i>
                <div class="docs-icon-name">居中对齐</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-fonts-u"></i>
                <div class="docs-icon-name">字体-下划线</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-fonts-i"></i>
                <div class="docs-icon-name">字体-斜体</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-tabs"></i>
                <div class="docs-icon-name">Tabs 选项卡</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-radio"></i>
                <div class="docs-icon-name">单选框-选中</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-circle"></i>
                <div class="docs-icon-name">单选框-候选</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-edit"></i>
                <div class="docs-icon-name">编辑</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-share"></i>
                <div class="docs-icon-name">分享</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-delete"></i>
                <div class="docs-icon-name">删除</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-form"></i>
                <div class="docs-icon-name">表单</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-cellphone-fine"></i>
                <div class="docs-icon-name">手机-细体</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-dialogue"></i>
                <div class="docs-icon-name">聊天 对话 沟通</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-fonts-clear"></i>
                <div class="docs-icon-name">文字格式化</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-layer"></i>
                <div class="docs-icon-name">窗口</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-date"></i>
                <div class="docs-icon-name">日期</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-water"></i>
                <div class="docs-icon-name">水 下雨</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-code-circle"></i>
                <div class="docs-icon-name">代码-圆圈</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-carousel"></i>
                <div class="docs-icon-name">轮播组图</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-prev-circle"></i>
                <div class="docs-icon-name">翻页</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-layouts"></i>
                <div class="docs-icon-name">布局</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-util"></i>
                <div class="docs-icon-name">工具</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-templeate-1"></i>
                <div class="docs-icon-name">选择模板</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-upload-circle"></i>
                <div class="docs-icon-name">上传-圆圈</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-tree"></i>
                <div class="docs-icon-name">树</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-table"></i>
                <div class="docs-icon-name">表格</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-chart"></i>
                <div class="docs-icon-name">图表</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-chart-screen"></i>
                <div class="docs-icon-name">图标 报表 屏幕</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-engine"></i>
                <div class="docs-icon-name">引擎</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-triangle-d"></i>
                <div class="docs-icon-name">下三角</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-triangle-r"></i>
                <div class="docs-icon-name">右三角</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-file"></i>
                <div class="docs-icon-name">文件</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-set-sm"></i>
                <div class="docs-icon-name">设置-小型</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-reduce-circle"></i>
                <div class="docs-icon-name">减少-圆圈</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-add-circle"></i>
                <div class="docs-icon-name">添加-圆圈</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-404"></i>
                <div class="docs-icon-name">404</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-about"></i>
                <div class="docs-icon-name">关于</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-up"></i>
                <div class="docs-icon-name">箭头 向上</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-down"></i>
                <div class="docs-icon-name">箭头 向下</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-left"></i>
                <div class="docs-icon-name">箭头 向左</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-right"></i>
                <div class="docs-icon-name">箭头 向右</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-circle-dot"></i>
                <div class="docs-icon-name">圆点</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-search"></i>
                <div class="docs-icon-name">搜索</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-set-fill"></i>
                <div class="docs-icon-name">设置-实心</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-group"></i>
                <div class="docs-icon-name">群组</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-friends"></i>
                <div class="docs-icon-name">好友</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-reply-fill"></i>
                <div class="docs-icon-name">回复 评论 实心</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-menu-fill"></i>
                <div class="docs-icon-name">菜单 隐身 实心</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-log"></i>
                <div class="docs-icon-name">记录</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-picture-fine"></i>
                <div class="docs-icon-name">图片-细体</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-face-smile-fine"></i>
                <div class="docs-icon-name">表情-笑-细体</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-list"></i>
                <div class="docs-icon-name">列表</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-release"></i>
                <div class="docs-icon-name">发布 纸飞机</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-ok"></i>
                <div class="docs-icon-name">对 OK</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-help"></i>
                <div class="docs-icon-name">帮助</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-chat"></i>
                <div class="docs-icon-name">客服</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-top"></i>
                <div class="docs-icon-name">top 置顶</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-star"></i>
                <div class="docs-icon-name">收藏-空心</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-star-fill"></i>
                <div class="docs-icon-name">收藏-实心</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-close-fill"></i>
                <div class="docs-icon-name">关闭-实心</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-close"></i>
                <div class="docs-icon-name">关闭-空心</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-ok-circle"></i>
                <div class="docs-icon-name">正确</div>
            </div>
            <div>
                <i class="layui-icon layui-icon-add-circle-fine"></i>
                <div class="docs-icon-name">添加-圆圈-细体</div>
            </div>
        </div>
    </div>
</div>
<script src="../../layui/layui.js"></script>
<script>
    layui.config({
        base: '../../', version: true
    }).use(['index'], function () {
        layui.$("i[class^='layui-icon layui-icon-']").on('click', function () {
            parent.layui.$('#icon').val(layui.$(this).attr('class'));
            parent.layui.$('#icon-suffix').attr('class', layui.$(this).attr('class'));
            parent.layui.layer.close('sys-icon');
        });
    });
</script>
</body>
</html>
