.layui-form-radio,
.layui-form-checkbox {
    background-color: transparent;
}

.layui-form-radio > .chat-tools-skin,
.layui-form-checkbox > .chat-tools-skin {
    color: black;
    border: 1px solid rgba(199, 199, 199, .3);
    background-color: white;
    border-radius: 100px;
    display: table;
    padding: 5px;
}

.layui-form-radio:hover > .chat-tools-skin,
.layui-form-checkbox:hover > .chat-tools-skin {
}

.layui-form-checked > .chat-tools-skin,
.layui-form-radioed > .chat-tools-skin {
    color: white !important;
    border: 1px solid #16b777 !important;
    background-color: #16b777 !important;
}