<div class="layui-card-header">版本</div>
<div class="layui-card-body layui-text layadmin-about">
    <blockquote class="layui-elem-quote" style="border: none;">
        <script type="text/html" template>
            <p>当前版本：v{{ config.version }}</p>
        </script>
    </blockquote>
</div>

<div class="layui-card-header">关于</div>
<div class="layui-card-body layui-text layadmin-about">
    <blockquote class="layui-elem-quote" style="border: none;">
        <script type="text/html" template>
            <p>{{ config.copyright }}</p>
        </script>
    </blockquote>
</div>